<div id="data-retention">
  <div class="periods">
    <p>4d</p>
    <p>3d</p>
    <p>2d</p>
    <p>1d</p>
    <p>0d</p>
  </div>
  <div class="timeline">
    <div class="interval"></div>
    <div class="interval"></div>
    <div class="interval"></div>
    <div class="interval"></div>
  </div>
  <div class="shard-groups">
    <div class="shard-group deleted">
      <p>Shard group</p>
      <p class="shard">Shard</p>
    </div>
    <div class="shard-group">
      <p>Shard group</p>
      <p class="shard">Shard</p>
    </div>
    <div class="shard-group">
      <p>Shard group</p>
      <p class="shard">Shard</p>
    </div>
    <div class="shard-group">
      <p>Shard group</p>
      <p class="shard">Shard</p>
    </div>
  </div>
  <div class="timeline">
    <div class="one-quarter">
      <p class="deleted-label all-caps">Deleted</p>
    </div>
    <div class="three-quarters border-left">
      <p class=retention-label>3d retention period</p>
    </div>
  </div>
</div>