<div id="quix-downsample-pipeline">
  <div class="logo-row top">
    <div class="influxdb-connector">
      <div class="influxdb-logo" data-precision="raw"></div>
      <div class="quix-connector"></div>
    </div>
  </div>
  <div class="quix-stream-container">
    <div id="source-producer" class="quix-stream-component">
      <p>InfluxDB v3 Source Producer</p>
    </div>
    <div class="arrow"></div>
    <div class="kafka-toggle" topic="raw-data">
      <div class="toggle-icon"></div>
    </div>
    <div class="arrow"></div>
    <div id="downsampling-process" class="quix-stream-component">
      <p>Downsampling Process</p>
    </div>
    <div class="arrow"></div>
    <div class="kafka-toggle" topic="downsampled-data">
      <div class="toggle-icon"></div>
    </div>
    <div class="arrow"></div>
    <div id="sink-consumer" class="quix-stream-component">
      <p>InfluxDB v3 Sink Consumer</p>
    </div>
  </div>
  <div class="logo-row bottom">
    <div class="influxdb-connector">
      <div class="quix-connector"></div>
      <div class="influxdb-logo" data-precision="downsampled"></div>
    </div>
  </div>
  <div id="quix-brand-icons">
    <div class="quix-logo">
      <img src="/svgs/quix-logo-white.svg" alt="Quix logo">
    </div>
    <div class="quix-streams-logo">
      <img src="/svgs/quix-python-heart.svg" alt="Quix Streams logo">
    </div>
  </div>
</div>