<div id="influxql-window-diagram" class="custom-timestamps">
  <div id="timerange-label">

  </div>
  <table>
    <thead>
      <th align="left">time</th>
      <th align="right">field</th>
    </thead>
    <tr>
      <td><span class="exclude">2022-01-01T00:00:00Z</span></td>
      <td align="right"><span class="exclude">8</span></td>
    </tr>
    <tr>
      <td><span class="exclude">2022-01-01T00:15:00Z</span></td>
      <td align="right"><span class="exclude">4</span></td>
    </tr>
    <tr>
      <td>2022-01-01T00:30:00Z</td>
      <td align="right">0</td>
    </tr>
    <tr>
      <td>2022-01-01T00:45:00Z</td>
      <td align="right">8</td>
    </tr>
    <tr>
      <td>2022-01-01T01:00:00Z</td>
      <td align="right">5</td>
    </tr>
    <tr>
      <td>2022-01-01T01:15:00Z</td>
      <td align="right">0</td>
    </tr>
    <tr>
      <td>2022-01-01T01:30:00Z</td>
      <td align="right">8</td>
    </tr>
    <tr>
      <td>2022-01-01T01:45:00Z</td>
      <td align="right">8</td>
    </tr>
    <tr>
      <td>2022-01-01T02:00:00Z</td>
      <td align="right">9</td>
    </tr>
    <tr>
      <td>2022-01-01T02:15:00Z</td>
      <td align="right">6</td>
    </tr>
    <tr>
      <td>2022-01-01T02:30:00Z</td>
      <td align="right">3</td>
    </tr>
    <tr>
      <td><span class="exclude">2022-01-01T02:45:00Z</span></td>
      <td align="right"><span class="exclude">0</span></td>
    </tr>
  </table>
  <div class="windows">
    <div class="window-hour">
      <p>2022-01-01T00:00:00Z</p>
    </div>
    <div class="window-hour">
      <p>2022-01-01T01:00:00Z</p>
    </div>
    <div class="window-hour">
      <p>2022-01-01T02:00:00Z</p>
    </div>
  </div>
</div>
