<div id="quix-downsample-pipeline">
  <div class="influxdb-logo" data-precision="raw"></div>
  <div class="quix-connector"></div>
  <div class="quix-stream-container">
    <div id="source-producer" class="quix-stream-component">
      <p>InfluxDB v2 Source Producer</p>
    </div>
    <div class="kafka-toggle" topic="raw-data"></div>
    <div id="downsampling-process" class="quix-stream-component">
      <p>Downsampling Process</p>
    </div>
    <div class="kafka-toggle" topic="downsampled-data"></div>
    <div id="sink-consumer" class="quix-stream-component">
      <p>InfluxDB v3 Sink Consumer</p>
    </div>

    <!-- Just keeping here for positioning -->
    <div class="quix-logo"></div>
    <div class="quix-streams-logo"></div>
  </div>
  <div class="quix-connector"></div>
  <div class="influxdb-logo" data-precision="downsampled"></div>
</div>