<div id="shard-diagram">
  <div class="periods">
    <p>0d</p>
    <p>1d</p>
    <p>2d</p>
    <p>3d</p>
    <p>4d</p>
  </div>
  <div class="timeline">
    <div class="interval"></div>
    <div class="interval"></div>
    <div class="interval"></div>
    <div class="interval"></div>
  </div>
  <div class="shard-groups">
    <div class="shard-group">
      <p>Shard group</p>
      <p class="shard">Shard</p>
    </div>
    <div class="shard-group">
      <p>Shard group</p>
      <p class="shard">Shard</p>
    </div>
    <div class="shard-group">
      <p>Shard group</p>
      <p class="shard">Shard</p>
    </div>
    <div class="shard-group">
      <p>Shard group</p>
      <p class="shard">Shard</p>
    </div>
  </div>
</div>