{{- $productData := partial "product/get-data.html" . -}}
{{ $productName := $productData.name }}

<div id="sso-auth-flow">
  <div class="row left">
    <div class="auth-item" id="influxdb">{{ $productName }}</div>
    <div class="arrow right" step="1"></div>
  </div>
  <div class="row center">
    <div class="arrow left" step="4"></div>
    <div class="auth-item" id="auth0">Auth0</div>
    <div class="arrow right" step="2"></div>
  </div>
  <div class="row right">
    <div class="arrow left" step="3"></div>
    <div class="auth-item" id="idp">Identity Provider</div>
  </div>
</div>