## Code sample dependencies
# Temporary fork for passing headers in query options.
influxdb3-python @ git+https://github.com/jstirnaman/influxdb3-python@4abd41c710e79f85333ba81258b10daff54d05b0
pandas
## Tabulate for printing pandas DataFrames.
tabulate
python-dotenv==1.0.0
## Test dependencies
pytest==7.4.1
pytest-cov==2.12.1
pytest-codeblocks==0.16.1