.important {
  
}

.important {
  &:before {
    content: "I";
    color: #fff;
    background: $article-important-base;
  }

  border-color: $article-important-base;
  background: rgba($article-important-base, .15);
  h1,h2,h3,h4,h5,h6 {
    color: $article-important-heading;
    a {
      color: inherit !important;
      &:hover{color: inherit !important}
    }
  }
  p, li {
    color: $article-important-text;
  }
  strong {
    color: $article-important-strong;
  }
  a {
    color: $article-important-link;
    code:after {
      border-color: transparent rgba($article-important-code, .35) transparent transparent;
    }
    &:hover {
      color: $article-important-link-hover;
      code:after {
        border-color: transparent $article-important-link-hover transparent transparent;
      }
    }
  }
  ol li:before {
    color: $article-important-text;
  }
  code, pre{
    color: $article-important-code;
    background: $article-important-code-bg;
  }
  img {
    box-shadow: 1px 3px 10px $article-important-shadow;
  }
  table{
    color: $article-important-text;
    box-shadow: 1px 3px 10px $article-important-shadow;
    thead{
      @include gradient($article-important-table-header);
    }
    tr:nth-child(even) td {
      background: $article-important-table-row-alt;
    }
  }
  blockquote {
    border-color: rgba($article-important-text, .25);
    p { color: rgba($article-important-text, .6); }
  }
  .code-tabs-wrapper .code-tabs a {
    background: transparent;
    color: rgba($article-important-text, .5);
    &:hover { color: rgba($article-important-text, 1); }
    &.is-active {
      color: rgba($article-important-text, 1);
      background: $article-important-code-bg};
  }
  hr, .expand {
    border-color: rgba($article-important-base, .4)
  }

  ///////////////////////////////// Scrollbars /////////////////////////////////
  pre   { @include scrollbar($article-important-code-bg, $article-important-code-scrollbar); }
  table { @include scrollbar($article-important-table-row-alt, $article-important-table-scrollbar); }

  ///////////////////////////// Syntax Highlighting ////////////////////////////
  .highlight  {
    color: $article-important-code;

    .gh,.go,.na,.nt,.nv,.ow
      { color: $article-important-code }
    .c,.ch,.cm,.cpf,.c1, .cs,.w
      { color: $article-important-code-accent1; }
    .gi
      { background-color: $article-important-code-accent1; }
    .k,.kc,.kd,.kn,.kp,.kr,.nn
      { color: $article-important-code-accent2; }
    .bp,.cp,.dl,.gt,.gu,.kt,.nb,.nc,.no,.sa,.sb,.sc,.sd,.se,.sh,.sx,.sr,.s1,.s2
      {	color: $article-important-code-accent3 }
    .err,.fm,.gr,.gd,.nd,.ne,.nf,.nl,.si
      { color: $article-important-code-accent4 }
    .m,.ni,.mb,.mf,.mh,.mi,.mo,.vc,.vg,.vi,.vm,.il
      {	color: $article-important-code-accent5 }
    .gp,.o
      { color: $article-important-code-accent6	}
    .ss
      { color: $article-important-code-accent7 }
      // Javascript / Flux specific styles (duration and time values)
      .language-js {
        .mi + .nx, .mf + .nx { color: $article-important-code-accent5; }
      }
      // SQL / InfluxQL specific styles (duration values)
      .language-sql {
        .mi + .n { color: $article-important-code-accent5; }
      }
  }
}
