{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["markdown"],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "rules": {
    "prettier/prettier": "warn"
  },
  "overrides": [
    {
      "files": ["*.js", "*.html"],
      "excludedFiles": [
	"**/*.md",
	"*.md.js",
	"**/*.md/*.js"
	],
      "plugins": ["html", "jquery", "json"],
      "extends": [
        "eslint:recommended",
        "plugin:jquery/slim",
        "plugin:json/recommended"
      ],
      "env": {
        "node": true
      },
      "parserOptions": {
        "ecmaVersion": 6
      }
    },
    {
      "files": ["**/*.md/*.js", "shared/**/*.mjs"],
      parserOptions: {
        "ecmaFeatures": {
	  "impliedStrict": true
	}
      },
      rules: {
        "no-console": "off"
      }
    },
    {
      "files": ["*.md"],
      "excludedFiles": [
        "*.md.js",
        "**/*.md/*.js",
        "*.md.toml",
        "**/*.md/*.toml",
        "*.md.yaml",
        "**/*.md/*.yaml",
        "*.md.md",
        "**/*.md/*.md"
      ],
      "processor": "markdown/markdown",
      "rules": {
        "md/remark": [
          "warn",
          {
            "plugins": [
	      "preset-lint-consistent",
              "preset-lint-recommended",
              "preset-lint-markdown-style-guide",
              ["lint-no-undefined-references", false],
              ["frontmatter", ["yaml", "toml"]],
              "remark-lint-write-good"
            ]
          }
        ],
        "prettier/prettier": ["warn", { "parser": "markdown" }]
      }
    }
  ]
}
