.DS_Store
*~
public
.*.swp
node_modules
package-lock.json
.config*
**/.env*
*.log
/resources
.hugo_build.lock

# Content generation
/content/influxdb*/**/api/**/*.html
!api-docs/**/.config.yml
/api-docs/redoc-static.html*
/helper-scripts/output/*
/telegraf-build
!telegraf-build/templates
!telegraf-build/scripts
!telegraf-build/README.md

# CI/CD tool files
/cypress/downloads/*
/cypress/screenshots/*
/cypress/videos/*
.lycheecache
test-results.xml
/influxdb3cli-build-scripts/content
tmp

# IDE files
.vscode/*
!.vscode/launch.json
.idea
**/config.toml

# TypeScript build output
dist/

# User context files for AI assistant tools
.context/*
!.context/README.md
