.DS_Store
*~
public
.*.swp
node_modules
.config*
**/.env*
*.log
/resources
.hugo_build.lock
/content/influxdb/*/api/**/*.html
/api-docs/redoc-static.html*
.vscode/*
.idea
**/config.toml
package-lock.json
tmp