.DS_Store
*~
public
.*.swp
node_modules
.config*
**/.env*
*.log
/resources
.hugo_build.lock
/content/influxdb*/**/api/**/*.html
!api-docs/**/.config.yml
/api-docs/redoc-static.html*
/telegraf-build
!telegraf-build/templates
!telegraf-build/scripts
!telegraf-build/README.md
/cypress/screenshots/*
/cypress/videos/*
test-results.xml
/influxdb3cli-build-scripts/content
.vscode/*
.idea
**/config.toml
package-lock.json
tmp