// Influx Color Palette

// Brand Colors
$br-chartreuse: #D6F622;
$br-deeppurple: #13002D;
$br-magenta:    #BF2FE5;
$br-galaxy:     #9394FF;
$br-pulsar:     #513CC6;

// Greys
$g0-obsidian:   #0F0E15;
$g1-raven:      #181820;
$g2-kevlar:     #202028;
$g3-castle:     #292933;
$g4-onyx:       #31313D;
$g5-pepper:     #383846;
$g6-smoke:      #434453;
$g7-graphite:   #545667;
$g8-storm:      #676978;
$g9-mountain:   #757888;
$g10-wolf:      #8E91A1;
$g11-sidewalk:  #999DAB;
$g12-forge:     #A4A8B6;
$g13-mist:      #BEC2CC;
$g14-chromium:  #C6CAD3;
$g15-platinum:  #D4D7DD;
$g16-pearl:     #E7E8EB;
$g17-whisper:   #EEEFF2;
$g18-cloud:     #F6F6F8;
$g19-ghost:     #FAFAFC;
$g20-white:     #FFFFFF;

// Blues
$b-abyss:       #120653;
$b-sapphire:    #0B3A8D;
$b-ocean:       #066FC5;
$b-dodger:      #2AA3FF;
$b-pool:        #00A3FF;
$b-laser:       #00C9FF;
$b-hydrogen:    #6BDFFF;
$b-neutrino:    #BEF0FF;
$b-yeti:        #F0FCFF;

// Purples
$p-shadow:      #2B007E;
$p-void:        #5C10A0;
$p-amethyst:    #8E1FC3;
$p-star:        #BE2EE4;
$p-comet:       #CE58EB;
$p-potassium:   #DD84F1;
$p-moonstone:   #EBADF8;
$p-twilight:    #FAD9FF;

// Greens
$gr-gypsy:      #003E34;
$gr-emerald:    #006F49;
$gr-viridian:   #009F5F;
$gr-rainforest: #34BB55;
$gr-honeydew:   #67D74E;
$gr-krypton:    #9BF445;
$gr-wasabi:     #C6F98E;
$gr-mint:       #F3FFD6;

// Yellows
$y-oak:         #3F241F;
$y-topaz:       #E85B1C;
$y-tiger:       #F48D38;
$y-pineapple:   #FFB94A;
$y-thunder:     #FFD255;
$y-sulfur:      #FFE480;
$y-daisy:       #FFF6B8;
$y-banana:      #FFFDDE;

// Reds
$r-basalt:      #2F1F29;
$r-ruby:        #BF3D5E;
$r-fire:        #DC4E58;
$r-curacao:     #F95F53;
$r-dreamsicle:  #FF8564;
$r-tungsten:    #FFB6A0;
$r-marmelade:   #FFDCCF;
$r-flan:        #FFF7F4;

// Code (Light theme)
$cp-marguerite: #736ECD;
$cp-melrose:    #A5A6FF;
$cp-munchkin:   #B7B8FF;
$cp-periwinkle: #C9CAFF;
$cp-titan:      #EDEDFF;


/////////////////////////////////// Gradients //////////////////////////////////

// Brand Gradients
$grad-WarpSpeed:          $br-deeppurple, $p-void;
$grad-PowerStone:         $p-void, $br-magenta;
$grad-MilkyWay:           $br-magenta, $br-galaxy;
$grad-LazyAfternoon:      $b-pool, $br-galaxy;
$grad-NineteenEightyFour: $b-pool, $br-magenta;
$grad-RadioactiveWarning: $b-pool, $br-chartreuse;
$grad-LostGalaxy:         $br-deeppurple, $br-pulsar;
$grad-GrapeSoda:          $br-deeppurple, $p-amethyst;
$grad-LavenderLatte:      $br-deeppurple, $p-star;
$grad-OminousFog:         $br-pulsar, $br-galaxy;

// Single Hue Gradient
$grad-grey-mist:          $g18-cloud, $g19-ghost;
$grad-grey-light:         $g13-mist, $g18-cloud;
$grad-grey:               $g10-wolf, $g13-mist;
$grad-grey-dark:          $g3-castle, $g6-smoke;
$grad-grey-abyss:         $g1-raven, $g2-kevlar;

$grad-blue-light:         $b-pool, $b-hydrogen;
$grad-blue:               $b-ocean, $b-pool;
$grad-blue-dark:          $b-sapphire, $b-ocean;

$grad-purple-light:       $p-comet, $p-moonstone;
$grad-purple:             $p-star, $p-comet;
$grad-purple-dark:        $p-void, $p-amethyst;

$grad-green-light:        $gr-honeydew, $gr-krypton;
$grad-green:              $gr-rainforest, $gr-honeydew;
$grad-green-shade:        $gr-viridian, $gr-rainforest;
$grad-green-dark:         $gr-emerald, $gr-viridian;

$grad-yellow-light:       $y-thunder, $y-sulfur;
$grad-yellow:             $y-pineapple, $y-thunder;
$grad-yellow-dark:        $y-topaz, $y-tiger;

$grad-red-light:          $r-dreamsicle, $r-tungsten;
$grad-red:                $r-curacao, $r-dreamsicle;
$grad-red-dark:           $r-ruby, $r-fire;

// Multi-Hue Gradients
$grad-GundamPilot:        $p-amethyst, $b-ocean;
$grad-Miyazakisky:        $p-star, $b-pool;
$grad-PastelGothic:       $p-comet, $b-laser;
$grad-GarageBand:         $b-pool, $gr-rainforest;
$grad-LowDifficulty:      $b-pool, $gr-honeydew;
$grad-DesertFestival:     $r-curacao, $p-star;
$grad-FuyuPersimmon:      $y-tiger, $r-fire;
$grad-SavannaHeat:        $y-topaz, $r-ruby;
$grad-ScotchBonnet:       $y-pineapple,$r-curacao;

// New gradients
$grad-PurpleFog:          $p-potassium, $cp-munchkin;
$grad-PurpleRain:         $p-void, $cp-marguerite;

// Transparent gradients
$grad-whiteFade:          rgba($g20-white, .75), rgba($g20-white, 0);

////////////////////////////// CLOCKFACE 3 COLORS //////////////////////////////

$grey5: #07070E;
$grey10: #14141F;
$grey15: #1A1A2A;
$grey20: #262738;
$grey25: #333346;
$grey35: #4D4D60;
$grey45: #68687B;
$grey55: #828294;
$grey65: #9E9EAD;
$grey75: #B9B9C5;
$grey85: #D5D5DD;
$grey95: #F1F1F3;
$white: #FFFFFF;