@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ppkm5');
  src:  url('fonts/icomoon.eot?ppkm5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ppkm5') format('truetype'),
    url('fonts/icomoon.woff?ppkm5') format('woff'),
    url('fonts/icomoon.svg?ppkm5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-triangle:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-down-circle:before {
  content: "\e907";
}
.icon-arrow-down-left:before {
  content: "\e908";
}
.icon-arrow-down-right:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-left-circle:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-arrow-right-circle:before {
  content: "\e90d";
}
.icon-arrow-up:before {
  content: "\e90e";
}
.icon-arrow-up-circle:before {
  content: "\e90f";
}
.icon-arrow-up-left:before {
  content: "\e910";
}
.icon-arrow-up-right:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e912";
}
.icon-heart1:before {
  content: "\e913";
}
.icon-settings:before {
  content: "\e914";
}
.icon-zoom-in:before {
  content: "\e915";
}
.icon-zoom-out:before {
  content: "\e916";
}
.icon-moon1:before {
  content: "\e904";
}
.icon-sun1:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e905";
}
.icon-influx-logo:before {
  content: "\e900";
}
.icon-influx-logotype:before {
  content: "\e901";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-cog:before {
  content: "\e994";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows8:before {
  content: "\eac2";
}
