@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s76ef');
  src:  url('fonts/icomoon.eot?s76ef#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s76ef') format('truetype'),
    url('fonts/icomoon.woff?s76ef') format('woff'),
    url('fonts/icomoon.svg?s76ef#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ui-add-cell:before {
  content: "\e91f";
}
.icon-ui-alert:before {
  content: "\e920";
}
.icon-ui-calendar:before {
  content: "\e921";
}
.icon-ui-checkmark:before {
  content: "\e922";
}
.icon-ui-cog-thick:before {
  content: "\e923";
}
.icon-ui-dashboards:before {
  content: "\e924";
}
.icon-ui-data-explorer:before {
  content: "\e925";
}
.icon-ui-download:before {
  content: "\e926";
}
.icon-ui-duplicate:before {
  content: "\e927";
}
.icon-ui-export:before {
  content: "\e928";
}
.icon-ui-fullscreen:before {
  content: "\e929";
}
.icon-ui-influx-icon:before {
  content: "\e92a";
}
.icon-ui-note:before {
  content: "\e92b";
}
.icon-ui-organizations:before {
  content: "\e92c";
}
.icon-ui-pause:before {
  content: "\e92d";
}
.icon-ui-pencil:before {
  content: "\e92e";
}
.icon-ui-play:before {
  content: "\e92f";
}
.icon-ui-plus:before {
  content: "\e930";
}
.icon-ui-refresh:before {
  content: "\e931";
}
.icon-ui-remove:before {
  content: "\e932";
}
.icon-ui-search:before {
  content: "\e933";
}
.icon-ui-trash:before {
  content: "\e935";
}
.icon-ui-triangle:before {
  content: "\e936";
}
.icon-ui-wrench-2:before {
  content: "\e939";
}
.icon-moon1:before {
  content: "\e904";
}
.icon-sun1:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e905";
}
.icon-influx-logo:before {
  content: "\e900";
}
.icon-influx-logotype:before {
  content: "\e901";
}
.icon-alert-triangle:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-down-circle:before {
  content: "\e907";
}
.icon-arrow-down-left:before {
  content: "\e908";
}
.icon-arrow-down-right:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-left-circle:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-arrow-right-circle:before {
  content: "\e90d";
}
.icon-arrow-up:before {
  content: "\e90e";
}
.icon-arrow-up-circle:before {
  content: "\e90f";
}
.icon-arrow-up-left:before {
  content: "\e910";
}
.icon-arrow-up-right:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e912";
}
.icon-chevron-down:before {
  content: "\e917";
}
.icon-chevron-left:before {
  content: "\e918";
}
.icon-chevron-right:before {
  content: "\e919";
}
.icon-chevron-up:before {
  content: "\e91a";
}
.icon-download:before {
  content: "\e91c";
}
.icon-heart1:before {
  content: "\e913";
}
.icon-menu:before {
  content: "\e91b";
}
.icon-minus:before {
  content: "\e91d";
}
.icon-plus:before {
  content: "\e91e";
}
.icon-settings:before {
  content: "\e914";
}
.icon-triangle:before {
  content: "\e937";
}
.icon-x:before {
  content: "\e938";
}
.icon-zoom-in:before {
  content: "\e915";
}
.icon-zoom-out:before {
  content: "\e916";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows8:before {
  content: "\eac2";
}
