@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a22byr');
  src:  url('fonts/icomoon.eot?a22byr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a22byr') format('truetype'),
    url('fonts/icomoon.woff?a22byr') format('woff'),
    url('fonts/icomoon.svg?a22byr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crown:before {
  content: "\e934";
}
.icon-book-pencil:before {
  content: "\e965";
}
.icon-influx-logo:before {
  content: "\e900";
}
.icon-influx-logotype:before {
  content: "\e901";
}
.icon-alert-triangle:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-moon1:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-sun1:before {
  content: "\e906";
}
.icon-arrow-down-circle:before {
  content: "\e907";
}
.icon-arrow-down-left:before {
  content: "\e908";
}
.icon-arrow-down-right:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-left-circle:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-arrow-right-circle:before {
  content: "\e90d";
}
.icon-arrow-up:before {
  content: "\e90e";
}
.icon-arrow-up-circle:before {
  content: "\e90f";
}
.icon-arrow-up-left:before {
  content: "\e910";
}
.icon-arrow-up-right:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e912";
}
.icon-heart1:before {
  content: "\e913";
}
.icon-settings:before {
  content: "\e914";
}
.icon-zoom-in:before {
  content: "\e915";
}
.icon-zoom-out:before {
  content: "\e916";
}
.icon-chevron-down:before {
  content: "\e917";
}
.icon-chevron-left:before {
  content: "\e918";
}
.icon-chevron-right:before {
  content: "\e919";
}
.icon-chevron-up:before {
  content: "\e91a";
}
.icon-menu:before {
  content: "\e91b";
}
.icon-download:before {
  content: "\e91c";
}
.icon-minus:before {
  content: "\e91d";
}
.icon-plus:before {
  content: "\e91e";
}
.icon-add-cell:before {
  content: "\e91f";
}
.icon-alert:before {
  content: "\e920";
}
.icon-calendar:before {
  content: "\e921";
}
.icon-checkmark:before {
  content: "\e922";
}
.icon-cog-thick:before {
  content: "\e923";
}
.icon-dashboards:before {
  content: "\e924";
}
.icon-data-explorer:before {
  content: "\e925";
}
.icon-ui-download:before {
  content: "\e926";
}
.icon-duplicate:before {
  content: "\e927";
}
.icon-export:before {
  content: "\e928";
}
.icon-fullscreen:before {
  content: "\e929";
}
.icon-influx-icon:before {
  content: "\e92a";
}
.icon-note:before {
  content: "\e92b";
}
.icon-organizations:before {
  content: "\e92c";
}
.icon-pause:before {
  content: "\e92d";
}
.icon-pencil:before {
  content: "\e92e";
}
.icon-play:before {
  content: "\e92f";
}
.icon-ui-plus:before {
  content: "\e930";
}
.icon-refresh:before {
  content: "\e931";
}
.icon-remove:before {
  content: "\e932";
}
.icon-alert-circle:before {
  content: "\e933";
}
.icon-trash:before {
  content: "\e935";
}
.icon-triangle:before {
  content: "\e937";
}
.icon-x:before {
  content: "\e938";
}
.icon-wrench-2:before {
  content: "\e939";
}
.icon-chat:before {
  content: "\e93a";
}
.icon-bell:before {
  content: "\e93b";
}
.icon-disks-nav:before {
  content: "\e93c";
}
.icon-wrench-nav:before {
  content: "\e93d";
}
.icon-user:before {
  content: "\e93e";
}
.icon-cloud:before {
  content: "\e93f";
}
.icon-users-trio:before {
  content: "\e940";
}
.icon-nav-chat:before {
  content: "\e941";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-eye-closed:before {
  content: "\e956";
}
.icon-eye-open:before {
  content: "\e957";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows8:before {
  content: "\eac2";
}
