@mixin scrollbar($bg-color, $thumb-color) {
  &::-webkit-scrollbar {
    background-color: rgba($bg-color, 0);
    width: 12px;
    height: 12px;
  }
  &::-webkit-scrollbar-track {
    background-color: $bg-color;
    border-radius: 0 0 $radius $radius;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border: 3px solid $bg-color;
    border-radius: 6px;
  }
}

@mixin gradient($colors, $deg: 45deg) {
  background: linear-gradient($deg, $colors);
}
