{{ $menu := .menu }}
{{ $siteData := .siteData }}

{{ define "recursiveMenu" }}
  {{ $menuContext := .menu }}
  {{ $siteData := .siteData }}
  {{ $depth := add .depth 1 }}
  {{ $navClass := cond (gt $depth 1) "item" "category" }}
  {{ range $menuContext }}
    {{/* Check if this is the InfluxDB HTTP API menu item for InfluxDB 3 products */}}
    {{ $isApiParent := and (or (eq .Name "InfluxDB HTTP API") (eq .Name "InfluxDB Management API")) (or (hasPrefix .URL "/influxdb3/") (hasPrefix .URL "/influxdb/") (hasPrefix .URL "/enterprise_influxdb/")) }}

    <li class="nav-{{ $navClass }}" data-nav-url="{{ .URL }}"{{ if .Params.state }} state="{{ .Params.state }}"{{ end }}>
      {{ if $isApiParent }}
        {{/* API Reference: render custom API nav children instead of standard menu children */}}
        <a href="#" class="children-toggle"></a>
        <a href='{{ default .URL .Params.url }}'>{{ .Name }}</a>
        <ul class="children">
          {{ partial "sidebar/api-menu-items" (dict "url" .URL "siteData" $siteData) }}
        </ul>
      {{ else }}
        {{/* Standard menu rendering */}}
        {{ if .HasChildren }}<a href="#" class="children-toggle"></a>{{ end }}
        <a href='{{ default .URL .Params.url }}'>{{ .Name }}</a>
        {{ if .HasChildren }}
          <ul class="children">
          {{ template "recursiveMenu" (dict "menu" .Children "siteData" $siteData "depth" $depth) }}
          </ul>
        {{ end }}
      {{ end }}
    </li>
  {{ end }}
{{ end }}

{{ template "recursiveMenu" (dict "menu" .menu "siteData" $siteData "depth" 0) }}
