{{ $page := .page }}
{{ $menu := .menu }}
{{ $isV2 := cond (in $page.RelPermalink "/v2.") true false }}

{{ define "productTag" }}
  {{ if and (.Page.Params.products) (not .Page.Parent.Params.products) }}{{ range .Page.Params.products }}<span class="{{ . }}"></span>{{ end }}{{ end }}
{{ end }}

{{ range $menu }}
  <li class="nav-category {{ if eq $page.RelPermalink .URL }}active{{end}}">
    {{ if .HasChildren }}<a href="#" class="children-toggle {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}"></a>{{ end }}
    <a href="{{ .URL }}">{{ .Name }} {{ $isV2 }}{{ if $isV2 }}{{ template "productTag" . }}{{ end }}</a>
    {{ if .HasChildren }}
      <ul class="children {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}">
      {{ range .Children }}
        <li class="nav-item {{ if eq $page.RelPermalink .URL }}active{{end}}">
          {{ if .HasChildren }}<a href="#" class="children-toggle {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}"></a>{{ end }}
          <a href="{{ .URL }}">{{ .Name }} {{ if $isV2 }}{{ template "productTag" . }}{{ end }}</a>
          {{ if .HasChildren }}
            <ul class="children {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}">
            {{ range .Children }}
              <li class="nav-item {{ if eq $page.RelPermalink .URL }}active{{end}}">
                {{ if .HasChildren }}<a href="#" class="children-toggle {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}"></a>{{ end }}
                <a href="{{ .URL }}">{{ .Name }} {{ if $isV2 }}{{ template "productTag" . }}{{ end }}</a>
                {{ if .HasChildren }}
                  <ul class="children {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}">
                  {{ range .Children }}
                    <li class="nav-item {{ if eq $page.RelPermalink .URL }}active{{end}}">
                      {{ if .HasChildren }}<a href="#" class="children-toggle {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}"></a>{{ end }}
                      <a href="{{ .URL }}">{{ .Name }} {{ if $isV2 }}{{ template "productTag" . }}{{ end }}</a>
                      {{ if .HasChildren }}
                        <ul class="children {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}">
                        {{ range .Children }}
                          <li class="nav-item {{ if eq $page.RelPermalink .URL }}active{{end}}">
                            {{ if .HasChildren }}<a href="#" class="children-toggle {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}"></a>{{ end }}
                            <a href="{{ .URL }}">{{ .Name }} {{ if $isV2 }}{{ template "productTag" . }}{{ end }}</a>
                            {{ if .HasChildren }}
                              <ul class="children {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}">
                              {{ range .Children }}
                                <li class="nav-item {{ if eq $page.RelPermalink .URL }}active{{end}}">
                                  {{ if .HasChildren }}<a href="#" class="children-toggle {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}"></a>{{ end }}
                                  <a href="{{ .URL }}">{{ .Name }} {{ if $isV2 }}{{ template "productTag" . }}{{ end }}</a>

                                  <!-- Begin nested block -->
                                  {{ if .HasChildren }}
                                    <ul class="children {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}">
                                    {{ range .Children }}
                                      <li class="nav-item {{ if eq $page.RelPermalink .URL }}active{{end}}">
                                        {{ if .HasChildren }}<a href="#" class="children-toggle {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}open{{end}}"></a>{{ end }}
                                        <a href="{{ .URL }}">{{ .Name }} {{ if $isV2 }}{{ template "productTag" . }}{{ end }}</a>
                                        <!-- To add more nested layers, copy the nested block and paste it here -->
                                      </li>
                                    {{ end }}
                                    </ul>
                                  {{ end }}
                                  <!-- End nested block -->

                                </li>
                              {{ end }}
                              </ul>
                            {{ end }}
                          </li>
                        {{ end }}
                        </ul>
                      {{ end }}
                    </li>
                  {{ end }}
                  </ul>
                {{ end }}
              </li>
            {{ end }}
            </ul>
          {{ end }}
        </li>
      {{ end }}
      </ul>
    {{ end }}
  </li>
{{ end }}
