<div class="note block">
  <h4 id="authentication-credentials">Authentication credentials</h4>
  <p>
    The examples below assume your InfluxDB <strong>host</strong>, <strong>organization</strong>, and <strong>token</strong> are
    provided by the <a href="/influxdb/v2.0/reference/cli/influx/#provide-required-authentication-credentials">active <code>influx</code> CLI configuration</a>.
    If you do not have a CLI configuration set up, use the appropriate flags to provide these required credentials.
  </p>
</div>