<div class="modal-content" id="page-feedback">
  <h3>Thank you for your feedback!</h3>
  <p>Let us know what we can do better:</p>
  
  <form id="pagefeedbacktext">
    <input type="text" name="fname" class="bowlofsweets" placeholder="First Name">
    <div class="lifecycle-wrapper">
      <textarea name="feedback-text"  placeholder="Missing information? Unclear explanations? Help us improve this page!"></textarea>
      <div id="thank-you">
        <p>Thank you!</p>
      </div>
      <div class="loader-wrapper">
        <div class="loader"></div>
      </div>
    </div>
    <div class="form-buttons">
      <div id="no-thanks">
        No thanks
      </div>
      <div class="submit-wrapper">
        <input type="submit" value="Submit" onclick="return submitLifeCycleAndClose();">
      </div>
    </div>
  </form>
 
</div>
