---
description: "Telegraf plugin for aggregating metrics using {{.Name}}"
menu:
  telegraf_v1_ref:
    parent: aggregator_plugins_reference
    name: {{.Name}}
    identifier: aggregator-{{.ID}}
tags: [{{.Name}}, "aggregator-plugins", "configuration"{{range .Tags}}, "{{.}}"{{end}}]
introduced: "{{.Introduced}}"
{{- with .Deprecated}}
deprecated: {{.}}
{{- end}}
{{- with .Removal}}
removal: {{.}}
{{- end}}
os_support: "{{.OSTags | join ", "}}"
related:
  - /telegraf/v1/configure_plugins/
  - {{.URL}}, {{.Name}} Plugin Source
---

{{.Readme}}
