---
description: "Telegraf plugin for aggregating metrics using {{.Name}}"
menu:
  telegraf_v1_ref:
    parent: aggregator_plugins_reference
    name: {{.Name}}
    identifier: aggregator-{{.ID}}
tags: [{{.Name}}, "aggregator-plugins", "configuration"]
related:
  - /telegraf/v1/configure_plugins/
---

{{.Readme}}
