---
title: "Telegraf Input Plugins"
description: "Telegraf input plugins collect metrics from the system, services, and third-party APIs."
menu:
  telegraf_v1_ref:
    name: Input plugins
    parent: plugins_reference
    identifier: input_plugins_reference
    weight: 10
tags: [input-plugins]
---

Telegraf input plugins collect metrics from the system, services, and third-party APIs.

{{`{{< telegraf/plugins type="input" >}}`}}
