---
title: "Telegraf Output Plugins"
description: "Telegraf output plugins send metrics to various destinations."
menu:
  telegraf_v1_ref:
    name: Output plugins
    parent: plugins_reference
    identifier: output_plugins_reference
    weight: 20
tags: [output-plugins]
---

Telegraf output plugins send metrics to various destinations.

{{`{{< telegraf/plugins type="output" >}}`}}
