---
description: "Telegraf plugin for sending metrics to {{.Name}}"
menu:
  telegraf_v1_ref:
    parent: output_plugins_reference
    name: {{.Name}}
    identifier: output-{{.ID}}
tags: [{{.Name}}, "output-plugins", "configuration"]
related:
  - /telegraf/v1/configure_plugins/
---

{{.Readme}}