---
description: "Telegraf plugin for collecting metrics from {{.Name}}"
menu:
  telegraf_v1_ref:
    parent: input_plugins_reference
    name: {{.Name}}
    identifier: input-{{.ID}}
tags: [{{.Name}}, "input-plugins", "configuration"]
related:
  - /telegraf/v1/configure_plugins/
---

{{.Readme}}