---
title: "Telegraf Processor Plugins"
description: "Telegraf processor plugins transform individual metrics."
menu:
  telegraf_v1_ref:
    name: Processor plugins
    parent: plugins_reference
    identifier: processor_plugins_reference
    weight: 10
tags: [processor-plugins]
---

Telegraf processor plugins transform individual metrics by e.g. converting
tags and fields or data-types.

{{`{{< telegraf/plugins type="processor" >}}`}}
