---
title: "Telegraf Secret Store Plugins"
description: "Telegraf secret store plugins provide secrets such as credentials to plugins."
menu:
  telegraf_v1_ref:
    name: Secret store plugins
    parent: plugins_reference
    identifier: secretstore_plugins_reference
    weight: 10
tags: [secretstore-plugins]
---

Telegraf secret store plugins provide secrets such as credentials to plugins.
Secret store plugins provide secrets like usernames, passwords, or tokens
to other plugins including other secret stores. This is helpful when retrieving
secrets requires e.g. a token. Secret store plugins can be retrieved secrets
from the operating system or external secret managers such as docker secrets or
Hashicorp Vault.

{{`{{< telegraf/plugins type="secretstore" >}}`}}
