---
title: "Telegraf Secret store Plugins"
description: "Telegraf secret store plugins provide secrets such as credentials to plugins."
menu:
  telegraf_v1_ref:
    name: Secret store plugins
    parent: plugins_reference
    identifier: secretstore_plugins_reference
    weight: 10
tags: [secretstore-plugins]
---

Telegraf secret store plugins provide secrets, such as usernames, passwords, or
tokens to plugins, including other secret store plugins. Secret store plugins can
retrieve secrets from the operating system or external secret managers such as
Docker secrets or Hashicorp Vault.

{{`{{< telegraf/plugins type="secretstore" >}}`}}
