<div class="block special-state">
  <div class="state-content telegraf-enterprise">
    <div class="telegraf-enterprise-text">
      <h4 id="telegraf-enterprise-feature">Telegraf Enterprise</h4>
      <p>
        Unlock higher configuration and agent limits, enhanced security features, and official support for Telegraf and Telegraf Controller.
      </p>
    </div>
    <div class="telegraf-enterprise-cta">
      <a href="/telegraf/enterprise/" class="btn"><span class="cf-icon Shield"></span> Upgrade to Enterprise</a>
    </div>
  </div>
</div>