{{ $scratch := newScratch }}
{{ $type := .Get "type" }}
{{ $pathData := findRE "[^/]+.*?" .Page.RelPermalink }}
{{ $latestTelegrafVersion := replaceRE `\.[0-9]+$` "" .Site.Data.products.telegraf.latest_patches.v1 }}
{{ $externalPluginLink := print "/telegraf/" (index $pathData 1) "/configure_plugins/external_plugins/" }}

{{ range (index .Site.Data.telegraf_plugins $type ) }}
  {{ $pluginTags := delimit .tags " " }}
  {{ $osTags := delimit .os_support " " }}
  {{ $minorVer := replaceRE `\.[^.]*$` "" .introduced }}

  <div class="plugin-card filter-item visible{{ if eq $minorVer $latestTelegrafVersion }} new{{ end }}" id="{{ .id }}" data-tags="{{ $type }} {{ lower $pluginTags }} {{ lower $osTags }} {{ if eq $minorVer $latestTelegrafVersion }}new{{ end }} {{ if .deprecated }}deprecated{{ end }} ">
    <div class="info">
      <h3 id="{{ $type }}-{{ .id }}">{{ .name }}</h3>
      {{ if in .tags "external"}}
        <a class="external" href="{{ $externalPluginLink }}">External</a>
      {{ end }}
      <p class="meta">
        Plugin ID: <code>{{ $type }}s.{{ .id }}</code><br/>
        Telegraf {{ if not .deprecated }}{{ .introduced }}+{{ else }}{{ .introduced }} - {{ .deprecated }} <span class="deprecated">Deprecated</span>{{ end }}
      </p>
      <p>{{ .description | markdownify | safeHTML }}</p>
    </div>
    <a class="btn github-link" href="{{ if .link }}{{ .link }}{{ else }}https://github.com/influxdata/telegraf/blob/release-{{ $latestTelegrafVersion }}/plugins/{{ $type }}s/{{ .id }}/README.md{{ end }}" target="_blank">
      <span class="icon-github"></span> <span class="hide">View</span>
    </a>
  </div>
{{ end }}
