{{- /* Get product info using baseURL-independent path detection */ -}}
{{- $productInfo := partial "product-info.html" .Page -}}
{{- /* Allow positional parameter to override auto-detected product */ -}}
{{- $overrideKey := .Get 0 -}}
{{- $productData := $productInfo.productData -}}
{{- if $overrideKey -}}
  {{- $productAliases := dict "oss" "influxdb" "cloud" "influxdb_cloud" "cloud-tsm" "influxdb_cloud" "core" "influxdb3_core" "enterprise" "influxdb3_enterprise" "cloud-serverless" "influxdb3_cloud_serverless" "serverless" "influxdb3_cloud_serverless" "cloud-dedicated" "influxdb3_cloud_dedicated" "dedicated" "influxdb3_cloud_dedicated" "clustered" "influxdb3_clustered" -}}
  {{- $overrideRef := index $productAliases $overrideKey -}}
  {{- if $overrideRef -}}
    {{- $productData = index .Site.Data.products $overrideRef | default dict -}}
  {{- end -}}
{{- end -}}
{{ $productData.placeholder_host | default "localhost:8086" }}
