<p style="margin-bottom: 0;">name: <span class="tooltip right" data-tooltip-text="measurement">weather</span></p>
<div class="sql">
  <table>
    <thead>
      <tr>
        <th align="left">time</th>
        <th align="left"><span class="tooltip" data-tooltip-text="tag key">city</span></th>
        <th align="left"><span class="tooltip" data-tooltip-text="tag key">country</span></th>
        <th align="right"><span class="tooltip" data-tooltip-text="field key">temperature</span></th>
        <th align="right"><span class="tooltip" data-tooltip-text="field key">humidity</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="left"><span class="tooltip" data-tooltip-text="timestamp">2022-01-01T12:00:00Z</span></td>
        <td align="left"><span class="tooltip" data-tooltip-text="tag value">London</span></td>
        <td align="left"><span class="tooltip" data-tooltip-text="tag value">UK</span></td>
        <td align="right"><span class="tooltip" data-tooltip-text="field value">12.0</span></td>
        <td align="right"><span class="tooltip shift-left" data-tooltip-text="field value">88.4</span></td>
      </tr>
      <tr class="points">
        <td align="left"><span class="point one two">2022-01-01T12:00:00Z</span></td>
        <td align="left"><span class="point one two">Cologne</span></td>
        <td align="left"><span class="point one two">DE</span></td>
        <td align="right"><span class="point one">13.2</span></td>
        <td align="right"><span class="point two">88.5</span></td>
      </tr>
      <tr>
        <td align="left">2022-02-01T12:00:00Z</td>
        <td align="left">London</td>
        <td align="left">UK</td>
        <td align="right">12.1</td>
        <td align="right">94.0</td>
      </tr>
      <tr>
        <td align="left">2022-02-01T12:00:00Z</td>
        <td align="left">Cologne</td>
        <td align="left">DE</td>
        <td align="right">11.5</td>
        <td align="right">87.8</td>
      </tr>
      <tr>
        <td align="left">2022-03-01T12:00:00Z</td>
        <td align="left">London</td>
        <td align="left">UK</td>
        <td align="right">11.5</td>
        <td align="right">82.1</td>
      </tr>
      <tr>
        <td align="left">2022-03-01T12:00:00Z</td>
        <td align="left">Cologne</td>
        <td align="left">DE</td>
        <td align="right">10.2</td>
        <td align="right">76.4</td>
      </tr>
      <tr>
        <td align="left">2022-04-01T12:00:00Z</td>
        <td align="left">London</td>
        <td align="left">UK</td>
        <td align="right">5.9</td>
        <td align="right">87.6</td>
      </tr>
      <tr>
        <td align="left">2022-04-01T12:00:00Z</td>
        <td align="left">Cologne</td>
        <td align="left">DE</td>
        <td align="right">7.9</td>
        <td align="right">93.3</td>
      </tr>
    </tbody>
  </table>
</div>