// Colors specific to Telegraf DARK theme

// TopNav Colors
$api-topnav-link-hover: $r-dreamsicle;
$api-dropdown-gradient: $grad-ScotchBonnet;

// Search
$api-sidebar-search-highlight: $r-dreamsicle;

// Left Navigation
$api-nav-category: $r-dreamsicle;
$api-nav-category-hover: $br-chartreuse;
$api-nav-item-hover: $p-potassium;
$api-nav-toggle-bg-hover: $r-curacao;
$api-nav-active: $br-chartreuse;

// Article Content
$api-article-heading: $g20-white;
$api-article-heading-alt: $g20-white;
$api-article-link: $r-dreamsicle;
$api-article-link-hover: $br-chartreuse;

// Article Tables
$api-article-table-header: $grad-SavannaHeat;

// Article Buttons
$api-btn-gradient: $grad-red;
$api-btn-gradient-hover: $grad-red-light;

// Article Tabs for tabbed content
$api-article-tab-active-text: $g20-white;

// Homepage cards
$api-home-card-gradient: $grad-ScotchBonnet;

