// Colors specific to Chronograf DARK theme

// TopNav Colors
$chronograf-topnav-link-hover: $br-galaxy;
$chronograf-dropdown-gradient: $grad-PurpleRain;

// Search
$chronograf-sidebar-search-highlight: $br-galaxy;

// Left Navigation
$chronograf-nav-category: $br-galaxy;
$chronograf-nav-category-hover: $b-pool;
$chronograf-nav-item-hover: $p-potassium;
$chronograf-nav-toggle-bg-hover: $b-dodger;
$chronograf-nav-active: $br-chartreuse;

// Article Content
$chronograf-article-heading: $g20-white;
$chronograf-article-heading-alt: $g20-white;
$chronograf-article-link: $br-galaxy;
$chronograf-article-link-hover: $g20-white;

// Article Tables
$chronograf-article-table-header: $grad-PowerStone;

// Article Buttons
$chronograf-btn-gradient: $grad-PurpleRain;
$chronograf-btn-gradient-hover: $grad-OminousFog;

// Article Tabs for tabbed content
$chronograf-article-tab-active-text: $g20-white;

// Homepage cards
$chronograf-home-card-gradient: $grad-PurpleRain;
