// Colors specific to Kapacitor DARK theme

// TopNav Colors
$kapacitor-topnav-link-hover: $b-laser;
$kapacitor-dropdown-gradient: $grad-GarageBand;

// Search
$kapacitor-sidebar-search-highlight: $gr-rainforest;

// Left Navigation
$kapacitor-nav-category: $gr-rainforest;
$kapacitor-nav-category-hover: $b-laser;
$kapacitor-nav-item-hover: $b-laser;
$kapacitor-nav-toggle-bg-hover: $gr-rainforest;
$kapacitor-nav-active: $p-potassium;

// Article Content
$kapacitor-article-heading: $g20-white;
$kapacitor-article-heading-alt: $g20-white;
$kapacitor-article-link: $gr-rainforest;
$kapacitor-article-link-hover: $g20-white;

// Article Tables
$kapacitor-article-table-header: $grad-GarageBand;

// Article Buttons
$kapacitor-btn-gradient: $grad-green-dark;
$kapacitor-btn-gradient-hover: $grad-green-shade;

// Article Tabs for tabbed content
$kapacitor-article-tab-active-text: $g20-white;

// Homepage cards
$kapacitor-home-card-gradient: $grad-GarageBand;
