// Colors specific to Telegraf DARK theme

// TopNav Colors
$telegraf-topnav-link-hover: $r-dreamsicle;
$telegraf-dropdown-gradient: $grad-ScotchBonnet;

// Search
$telegraf-sidebar-search-highlight: $r-dreamsicle;

// Left Navigation
$telegraf-nav-category: $r-dreamsicle;
$telegraf-nav-category-hover: $br-chartreuse;
$telegraf-nav-item-hover: $p-potassium;
$telegraf-nav-toggle-bg-hover: $r-curacao;
$telegraf-nav-active: $br-chartreuse;

// Article Content
$telegraf-article-heading: $g20-white;
$telegraf-article-heading-alt: $g20-white;
$telegraf-article-link: $r-dreamsicle;
$telegraf-article-link-hover: $br-chartreuse;

// Article Tables
$telegraf-article-table-header: $grad-SavannaHeat;

// Article Buttons
$telegraf-btn-gradient: $grad-red;
$telegraf-btn-gradient-hover: $grad-red-light;

// Article Tabs for tabbed content
$telegraf-article-tab-active-text: $g20-white;

// Homepage cards
$telegraf-home-card-gradient: $grad-ScotchBonnet;

