{{ partial "header.html" . }}
{{ partial "topnav.html" . }}

<div class="page-wrapper">
  {{ partial "sidebar.html" . }}
  <div class="content-wrapper">
    <div class="sidebar-toggle" onclick="toggle_sidebar('sidebar-open');return false;"><a href="#">&#xe91c;</a></div>

    <div class="article">
      <article class="article--content">
        <h1>{{ .Title }}</h1>
        <ul class="list-links">

          {{ $productPathData := findRE "[^/]+.*?" .RelPermalink }}
          {{ $product := index $productPathData 0 }}
          {{ $currentVersion := index $productPathData 1 }}
          {{ $tagSet := print $product "/" $currentVersion "/tags" }}
          {{ range $key, $value := index .Site.Taxonomies $tagSet }}
          	<li><a href="{{ $key | urlize  }}">{{ $key }}</a> ({{ len $value }})</li>
          {{ end }}

        </ul>
      </article>
    </div>

    <div class="copyright">© {{ now.Year }} InfluxData, Inc.</div>
  </div>
</div>

{{ partial "footer.html" . }}
