@font-face {
  font-family: 'alert-icons';
  src:  url('fonts/alert-icons.eot?d0dznh');
  src:  url('fonts/alert-icons.eot?d0dznh#iefix') format('embedded-opentype'),
    url('fonts/alert-icons.ttf?d0dznh') format('truetype'),
    url('fonts/alert-icons.woff?d0dznh') format('woff'),
    url('fonts/alert-icons.svg?d0dznh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'alert-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caution:before {
  content: "\43";
}
.icon-important:before {
  content: "\49";
}
.icon-note:before {
  content: "\4e";
}
.icon-tip:before {
  content: "\54";
}
.icon-warning:before {
  content: "\57";
}