<!-- This is a placeholder that we can append code examples to in fullscreen mode -->
<div class="code-fullscreen">
<!-- test clone -->
  <div class="highlight">
    <pre class="chroma">
      <code class="language-sh" data-lang="sh">influx write <span class="se">\
      </span><span class="se"></span>  -b bucketName <span class="se">\
      </span><span class="se"></span>  -o orgName <span class="se">\
      </span><span class="se"></span>  -p s <span class="se">\
      </span><span class="se"></span>  --format<span class="o">=</span>csv
      -f /path/to/data.csv
      </code>
    </pre>
  </div>
<!-- test clone -->
</div>