{{ $inStdlib := and (in .Page.RelPermalink "/flux/v0/stdlib/") (ne .Page.RelPermalink "/flux/v0/stdlib/") (ne .Page.RelPermalink "/flux/v0/stdlib/all-functions/") }}
<div class="modal">
  <div class="modal-overlay"></div>
  <div class="modal-wrapper">
    <div class="modal-body">
      <a id="modal-close"href="#"><span class="icon-remove"></span></a>
      <!-- Modal window content blocks-->
      {{ partial "footer/modals/influxdb-url.html" . }}
      {{ partial "footer/modals/influxdb-version-detector.html" . }}
      {{ partial "footer/modals/page-feedback.html" . }}
      {{ if or (.Page.HasShortcode "influxdb/custom-timestamps") (.Page.HasShortcode "influxdb/custom-timestamps-span") }}
        {{ partial "footer/modals/influxdb-gs-date-select.html" . }}
      {{ end }}
      {{ if $inStdlib }}
        {{ partial "footer/modals/flux-influxdb-versions.html" . }}
      {{ end }}
    </div>
  </div>
</div>