<div id="docs-notifications">
  {{ range .Site.Data.notifications }}
    <div class="notification {{ .level }} min" id="{{ .id }}" data-scope='{{ if .scope }}{{ delimit .scope "," }}{{ else }}/{{ end }}' data-exclude='{{ if .exclude }}{{ delimit .exclude ","}}{{ end }}'>
      <div class="close-notification"><span class="cf-icon Remove_New"></span></div> 
      <div class="notification-title">
        {{ if .title_tag }}<span class="title-tag">{{ .title_tag }}</span>{{ end }}
        <h3>{{ .title | markdownify }}</h3>
      </div>
      {{ if .slug }}
      <div class="notification-slug">
        {{ .slug | markdownify }}
      </div>
      {{ end }}
      {{ if .message }}
      <div class="notification-content">
        {{ .message | markdownify }}
      </div>
      <span class="show"></span>
      {{ end }}     
    </div>
  {{ end }}
</div>

