<div id="docs-notifications">
  {{ range .Site.Data.notifications }}
    <div class="notification {{ .level }} min" id="{{ .id }}" data-scope='{{ if .scope }}{{ delimit .scope "," }}{{ else }}/{{ end }}'>
      <div class="notification-title">
        <h3>{{ .title }}</h3>
      </div>
      <div class="notification-content">
        {{ .message | markdownify }}
      </div>
      <div class="close-notification"><span class="icon-remove"></span></div>
      <span class="show"></span>
    </div>
  {{ end }}
</div>

