/*

	LIGHT THEME
	____________________________________________________________

	Notes:
	- This file is interchangeable with themes/theme-dark.scss
	- Only contains color variables

*/

@import "tools/color-palette";

// General Styles
// --------------------------------------------------

$body-bg: #f3f4fb !default;
$radius: 2px !default;

// TopNav Colors
$topnav-link: #020a47 !default;
$topnav-link-hover: $b-dodger !default;
$default-dropdown-gradient: $grad-PastelGothic !default;
$theme-switch-light: none !default;
$theme-switch-dark: inline-block !default;

// Search
$sidebar-search-bg: $g20-white !default;
$sidebar-search-shadow: #cfd1e5 !default;
$sidebar-search-highlight: $b-pool !default;
$sidebar-search-text: $g6-smoke !default;

// Left Navigation
$nav-category: $b-ocean !default;
$nav-category-hover: $br-magenta !default;
$nav-item: $g9-mountain !default;
$nav-item-hover: $br-magenta !default;
$nav-border: $g14-chromium !default;
$nav-toggle: $g20-white !default;
$nav-toggle-hover: $g20-white !default;
$nav-toggle-bg-hover: $br-magenta !default;
$nav-active: $br-magenta !default;

// Product Flags
$product-cloud: $b-dodger !default;
$product-oss: $p-comet !default;
$product-enterprise: $br-pulsar !default;

// Article Content
$article-bg: $g20-white !default;
$article-heading: $br-dark-blue !default;
$article-heading-alt: $br-new-purple !default;
$article-text: $br-dark-blue !default;
$article-bold: $br-dark-blue !default;
$article-link: $b-pool !default;
$article-link-hover: $br-magenta !default;
$article-shadow: #cfd1e5 !default;
$article-hr: $g15-platinum !default;

// Article Code
$article-code: $cp-marguerite !default;
$article-code-bg: $cp-titan !default;
$article-code-shadow: $g20-white !default;
$article-code-accent1: $cp-melrose !default;
$article-code-accent2: #0783e8 !default;
$article-code-accent3: #008859 !default;
$article-code-accent4: $r-ruby !default;
$article-code-accent5: #e24bbb !default;
$article-code-accent6: $b-dodger !default;
$article-code-accent7: #e90 !default;
$article-code-select:  $b-dodger !default;
$article-code-link: $cp-marguerite !default;
$article-code-link-hover: $cp-marguerite !default;
$article-code-scrollbar: $cp-periwinkle !default;

// Article Tables
$article-table-header: $grad-Miyazakisky !default;
$article-table-row-alt: #f6f8ff !default;
$article-table-scrollbar: $g14-chromium !default;

// Article Alert Blocks
$article-note-base: $b-pool !default;
$article-note-heading: $b-ocean !default;
$article-note-text: $b-ocean !default;
$article-note-strong: $b-ocean !default;
$article-note-link: $p-void !default;
$article-note-link-hover: $p-star !default;
$article-note-table-header: $grad-blue !default;
$article-note-table-row-alt: $g20-white !default;
$article-note-table-scrollbar: $b-hydrogen !default;
$article-note-shadow: #6EB8E4 !default;
$article-note-code: $b-ocean !default;
$article-note-code-bg: $b-neutrino !default;
$article-note-code-accent1: #3CAAE2 !default;
$article-note-code-accent2: $br-pulsar !default;
$article-note-code-accent3: #048E66 !default;
$article-note-code-accent4: $r-ruby !default;
$article-note-code-accent5: #e24bbb !default;
$article-note-code-accent6: #0084d6 !default;
$article-note-code-accent7: #e90 !default;
$article-note-code-scrollbar: $b-laser !default;

$article-tip-base: $gr-rainforest !default;
$article-tip-heading: $gr-emerald !default;
$article-tip-text: $gr-emerald !default;
$article-tip-strong: $gr-emerald !default;
$article-tip-link: $b-ocean !default;
$article-tip-link-hover: $br-magenta !default;
$article-tip-table-header: $grad-green-dark !default;
$article-tip-table-row-alt: #d6f5e9 !default;
$article-tip-table-scrollbar: #87DABE !default;
$article-tip-shadow: #8CB7AB !default;
$article-tip-code: #0A6F75 !default;
$article-tip-code-bg: #BDF3DA !default;
$article-tip-code-accent1: #6abba0 !default;
$article-tip-code-accent2: #0084d6 !default;
$article-tip-code-accent3: #5d52d6 !default;
$article-tip-code-accent4: $r-ruby !default;
$article-tip-code-accent5: #e24bbb !default;
$article-tip-code-accent6: #0084d6 !default;
$article-tip-code-accent7: #e90 !default;
$article-tip-code-scrollbar: #87DABE !default;

$article-important-base: $br-galaxy !default;
$article-important-heading: $br-pulsar !default;
$article-important-text: #5a55ad !default;
$article-important-strong: $br-pulsar !default;
$article-important-link: $b-ocean !default;
$article-important-link-hover: $br-pulsar !default;
$article-important-table-header: $grad-OminousFog !default;
$article-important-table-row-alt: $g20-white !default;
$article-important-table-scrollbar: $br-galaxy !default;
$article-important-shadow: #b0a6eb !default;
$article-important-code: $br-pulsar !default;
$article-important-code-bg: #dadbff !default;
$article-important-code-accent1: #998aeb !default;
$article-important-code-accent2: $br-pulsar !default;
$article-important-code-accent3: #026d33 !default;
$article-important-code-accent4: $r-ruby !default;
$article-important-code-accent5: #e24bbb !default;
$article-important-code-accent6: #0084d6 !default;
$article-important-code-accent7: #e90 !default;
$article-important-code-scrollbar: $br-galaxy !default;

$article-warning-base: $r-dreamsicle !default;
$article-warning-bg: rgba($r-dreamsicle, .08) !default;
$article-warning-heading: $r-fire !default;
$article-warning-text: $r-curacao !default;
$article-warning-strong: $br-pulsar !default;
$article-warning-link: $r-curacao !default;
$article-warning-link-hover: $br-pulsar !default;
$article-warning-table-header: $grad-red !default;
$article-warning-table-row-alt: #ffe6df !default;
$article-warning-table-scrollbar: #FFB1B1 !default;
$article-warning-shadow: #b98a7d !default;
$article-warning-code: #d0154e !default;
$article-warning-code-bg: #fde6e5 !default;
$article-warning-code-accent1: #fd99b8 !default;
$article-warning-code-accent2: #357ae8 !default;
$article-warning-code-accent3: #6c59cc !default;
$article-warning-code-accent4: $r-ruby !default;
$article-warning-code-accent5: #6a0a6f !default;
$article-warning-code-accent6: #357ae8 !default;
$article-warning-code-accent7: #e90 !default;
$article-warning-code-scrollbar: #FFB1B1 !default;

$article-caution-base: $br-new-magenta !default;
$article-caution-bg: rgba($br-new-magenta, .08) !default;
$article-caution-heading: $br-new-magenta !default;
$article-caution-text: #db4692 !default;
$article-caution-strong: $br-new-magenta !default;
$article-caution-link: #8709d3 !default;
$article-caution-link-hover: $b-sapphire !default;
$article-caution-table-header: $br-new-magenta, #ff598f !default;
$article-caution-table-row-alt: #fff8fc !default;
$article-caution-table-scrollbar: #faa9cd !default;
$article-caution-shadow: #f1b1cb !default;
$article-caution-code: #d01578 !default;
$article-caution-code-bg: #f3d5e1 !default;
$article-caution-code-accent1: #e683b7 !default;
$article-caution-code-accent2: #356ec8 !default;
$article-caution-code-accent3: #5845b7 !default;
$article-caution-code-accent4: $r-ruby !default;
$article-caution-code-accent5: #6a0a6f !default;
$article-caution-code-accent6: #357ae8 !default;
$article-caution-code-accent7: #e90 !default;
$article-caution-code-scrollbar: #faa9cd !default;

// Article Tabs for tabbed content
$article-tab-text: $g8-storm !default;
$article-tab-bg: $grey95 !default;
$article-tab-active-text: $g20-white !default;
$article-tab-active-bg: $b-pool !default;
$article-tab-code-text: $cp-marguerite !default;

// Article page buttons
$article-btn-gradient: $grad-blue !default;
$article-btn-text: $g20-white !default;
$article-btn-gradient-hover: $grad-blue-light !default;
$article-btn-text-hover: $g20-white !default;

// Article UI nav icons
$article-nav-icon-bg: $g6-smoke !default;
$article-nav-acct-bg: $g5-pepper !default;

// Datetime Colors
$current-timestamp-color: $article-text !default;
$current-date-color: $article-text !default;
$current-time-color: $article-text !default;
$enterprise-eol-date-color: $article-text !default;

// Error Page Colors
$error-page-btn: $b-pool !default;
$error-page-btn-text: $g20-white !default;
$error-page-btn-hover: $b-pool !default;
$error-page-btn-hover-text: $g20-white !default;

// Landing Page colors
$landing-artwork-gradient: $grad-GundamPilot !default;
$landing-artwork-color: rgba($p-shadow, .35) !default;
$landing-sm-bg: rgba($p-void, .4) !default;
$landing-sm-bg-hover: $b-pool !default;
$landing-btn-text: $g20-white !default;
$landing-btn-grad: $grad-blue !default;
$landing-btn-grad-hover: $grad-blue-light !default;

// Home page colors
$home-icon-c1: $br-dark-blue !default;
$home-icon-c2: $g20-white !default;

// Tooltip colors
$tooltip-color: $br-new-purple !default;
$tooltip-color-alt: $p-twilight !default;
$tooltip-bg: $br-new-purple !default;
$tooltip-text: $g20-white !default;

// Support and feedback buttons
$feedback-btn-bg: $g16-pearl !default;

// URL Modal colors
$modal-field-bg: $g20-white !default;

// SVG colors
$svg-table-header: $g15-platinum !default;
$svg-table-stroke: $g7-graphite !default;
$svg-table-row-alt1: $b-laser !default;
$svg-table-row-alt2: $br-galaxy !default;
$svg-table-code: $cp-marguerite !default;
$svg-table-code-bg: $cp-titan !default;
$svg-table-code-operator: $b-pool !default;
$svg-table-code-string: #12A290 !default;

$svg-geo-s2-cell: $b-hydrogen !default;
$svg-geo-region: $br-galaxy !default;
$svg-geo-point: $p-potassium !default;

$html-diagram-shard-group-bg: $g20-white !default;

$flux-water-process-img: url('/img/flux/0-x-water-process-light.svg') !default;
$influxdb-logo: url('/svgs/influxdb-logo-blue.svg') !default;

// Diagram colors
$diagram-arrow: $g14-chromium !default;

// Code placeholder colors
$code-placeholder: $br-new-magenta !default;
$code-placeholder-hover: $br-new-purple !default;

// Badge colors
$badge-experimental-text: $article-caution-text !default;
$badge-experimental-bg: $article-caution-bg !default;
