/*

	LIGHT THEME
	____________________________________________________________

	Notes:
	- This file is interchangeable with themes/theme-dark.scss
	- Only contains color variables

*/

@import "tools/color-palette";

// General Styles
// --------------------------------------------------

$body-bg: $g18-cloud;

// TopNav Colors
$topnav-link: $g3-castle;
$topnav-link-hover: $b-ocean;
$version-selector-top: $b-pool !default;
$version-selector-bottom: $gr-viridian !default;
$theme-switch-light: none;
$theme-switch-dark: inline-block;
