/*

	LIGHT THEME
	____________________________________________________________

	Notes:
	- This file is interchangeable with themes/theme-dark.scss
	- Only contains color variables

*/

@import "tools/color-palette";

// General Styles
// --------------------------------------------------

$body-bg: $g18-cloud !default;
$radius: 3px !default;

// TopNav Colors
$topnav-link: $g8-storm !default;
$topnav-link-hover: $b-dodger !default;
$default-dropdown-gradient: $grad-PastelGothic !default;
$theme-switch-light: none !default;
$theme-switch-dark: inline-block !default;

// Search
$sidebar-search-bg: $g20-white !default;
$sidebar-search-shadow: $g14-chromium !default;
$sidebar-search-highlight: $b-pool !default;
$sidebar-search-text: $g8-storm !default;

// Left Navigation
$nav-category: $b-dodger !default;
$nav-category-hover: $br-magenta !default;
$nav-item: $g9-mountain !default;
$nav-item-hover: $br-magenta !default;
$nav-border: $g14-chromium !default;
$nav-toggle: $g20-white !default;
$nav-toggle-hover: $g20-white !default;
$nav-toggle-bg-hover: $br-magenta !default;
$nav-active: $br-magenta !default;

// Product Flags
$product-cloud: $b-dodger !default;
$product-oss: $p-comet !default;
$product-enterprise: $br-pulsar !default;

// Article Content
$article-bg: $g20-white !default;
$article-heading: $br-pulsar !default;
$article-heading-alt: $g5-pepper !default;
$article-text: $g6-smoke !default;
$article-bold: $g6-smoke !default;
$article-link: $b-pool !default;
$article-link-hover: $br-magenta !default;
$article-shadow: $g14-chromium !default;
$article-hr: $g15-platinum !default;

// Article Code
$article-code: $cp-marguerite !default;
$article-code-bg: $cp-titan !default;
$article-code-shadow: $g20-white !default;
$article-code-accent1: $cp-melrose !default;
$article-code-accent2: #0783e8 !default;
$article-code-accent3: #008859 !default;
$article-code-accent4: $r-ruby !default;
$article-code-accent5: #e24bbb !default;
$article-code-accent6: $b-dodger !default;
$article-code-accent7: #e90 !default;
$article-code-select:  $b-dodger !default;
$article-code-link: $cp-marguerite !default;
$article-code-link-hover: $cp-marguerite !default;
$article-code-scrollbar: $cp-periwinkle !default;

// Article Tables
$article-table-header: $grad-Miyazakisky !default;
$article-table-row-alt: #F6F7F8 !default;
$article-table-scrollbar: $g14-chromium !default;

// Article Notes & Warnings
$article-note-base: $gr-rainforest !default;
$article-note-heading: $gr-emerald !default;
$article-note-text: $gr-emerald !default;
$article-note-strong: $gr-emerald !default;
$article-note-link: $b-ocean !default;
$article-note-link-hover: $br-magenta !default;
$article-note-table-header: $grad-green-dark !default;
$article-note-table-row-alt: #d6f5e9 !default;
$article-note-table-scrollbar: #87DABE !default;
$article-note-shadow: #8CB7AB !default;
$article-note-code: #0A6F75 !default;
$article-note-code-bg: #BDF3DA !default;
$article-note-code-accent1: #6abba0 !default;
$article-note-code-accent2: #0084d6 !default;
$article-note-code-accent3: #5d52d6 !default;
$article-note-code-accent4: $r-ruby !default;
$article-note-code-accent5: #e24bbb !default;
$article-note-code-accent6: #0084d6 !default;
$article-note-code-accent7: #e90 !default;
$article-note-code-scrollbar: #87DABE !default;

$article-warn-base: $r-dreamsicle !default;
$article-warn-heading: $r-fire !default;
$article-warn-text: $r-curacao !default;
$article-warn-link: $r-curacao !default;
$article-warn-link-hover: $br-pulsar !default;
$article-warn-table-header: $grad-red !default;
$article-warn-table-row-alt: #ffe6df !default;
$article-warn-table-scrollbar: #FFB1B1 !default;
$article-warn-shadow: #b98a7d !default;
$article-warn-code: #d0154e !default;
$article-warn-code-bg: #FFDDDC !default;
$article-warn-code-accent1: #fd99b8 !default;
$article-warn-code-accent2: #357ae8 !default;
$article-warn-code-accent3: #6c59cc !default;
$article-warn-code-accent4: $r-ruby !default;
$article-warn-code-accent5: #6a0a6f !default;
$article-warn-code-accent6: #357ae8 !default;
$article-warn-code-accent7: #e90 !default;
$article-warn-code-scrollbar: #FFB1B1 !default;

$article-cloud-base: $b-laser !default;
$article-cloud-heading: $b-ocean !default;
$article-cloud-text: $b-ocean !default;
$article-cloud-link: $b-ocean !default;
$article-cloud-link-hover: $br-pulsar !default;
$article-cloud-table-header: $grad-blue !default;
$article-cloud-table-row-alt: $g20-white !default;
$article-cloud-table-scrollbar: $b-hydrogen !default;
$article-cloud-shadow: #6EB8E4 !default;
$article-cloud-code: $b-ocean !default;
$article-cloud-code-bg: $b-neutrino !default;
$article-cloud-code-accent1: #3CAAE2 !default;
$article-cloud-code-accent2: $br-pulsar !default;
$article-cloud-code-accent3: #048E66 !default;
$article-cloud-code-accent4: $r-ruby !default;
$article-cloud-code-accent5: #e24bbb !default;
$article-cloud-code-accent6: #0084d6 !default;
$article-cloud-code-accent7: #e90 !default;
$article-cloud-code-scrollbar: $b-laser !default;

$article-enterprise-base: $br-galaxy !default;
$article-enterprise-text: $cp-marguerite !default;
$article-enterprise-link: $cp-marguerite !default;
$article-enterprise-link-hover: $b-pool !default;

// Article Tabs for tabbed content
$article-tab-text: $g8-storm !default;
$article-tab-bg: $g18-cloud !default;
$article-tab-active-text: $g20-white !default;
$article-tab-active-bg: $b-pool !default;
$article-tab-code-text: $cp-marguerite !default;

// Article page buttons
$article-btn-gradient: $grad-blue !default;
$article-btn-text: $g20-white !default;
$article-btn-gradient-hover: $grad-blue-light !default;
$article-btn-text-hover: $g20-white !default;

// Article UI nav icons
$article-nav-icon-bg: $g6-smoke !default;
$article-nav-acct-bg: $g5-pepper !default;

// Error Page Colors
$error-page-btn: $b-pool !default;
$error-page-btn-text: $g20-white !default;
$error-page-btn-hover: $b-pool !default;
$error-page-btn-hover-text: $g20-white !default;

// Landing Page colors
$landing-artwork-gradient: $grad-GundamPilot !default;
$landing-artwork-color: rgba($p-shadow, .35) !default;
$landing-sm-bg: rgba($p-void, .4) !default;
$landing-sm-bg-hover: $b-pool !default;
$landing-btn-text: $g20-white !default;
$landing-btn-grad: $grad-blue !default;
$landing-btn-grad-hover: $grad-blue-light !default;

// Home page colors
$home-btn-gradient: $grad-NineteenEightyFour !default;
$home-btn-gradient-hover: $grad-PastelGothic !default;
$home-tick-bg-gradient: $grad-grey-mist !default;
$default-home-card-gradient: $grad-PastelGothic !default;

// Tooltip colors
$tooltip-color: $p-amethyst !default;
$tooltip-color-alt: $p-twilight !default;
$tooltip-bg: $p-amethyst !default;
$tooltip-text: $g20-white !default;

// Support and feedback buttons
$feedback-btn-bg: $g16-pearl !default;

// URL Modal colors
$modal-field-bg: $g20-white !default;

// SVG colors
$svg-table-header: $g15-platinum !default;
$svg-table-stroke: $g7-graphite !default;
$svg-table-row-alt1: $b-laser !default;
$svg-table-row-alt2: $br-galaxy !default;
$svg-table-code: $cp-marguerite !default;
$svg-table-code-bg: $cp-titan !default;
$svg-table-code-operator: $b-pool !default;
$svg-table-code-string: #12A290 !default;

$svg-geo-s2-cell: $b-hydrogen !default;
$svg-geo-region: $br-galaxy !default;
$svg-geo-point: $p-potassium !default;

@import "light/telegraf",
        "light/chronograf",
        "light/kapacitor";
