/*

	DARK THEME
	____________________________________________________________

	Notes:
	- This file is interchangeable with themes/theme-light.scss
	- Only contains color variables

*/

// General Styles
// --------------------------------------------------

@import "tools/color-palette";

$body-bg: $grey5;

// TopNav Colors
$topnav-link: $g20-white;
$topnav-link-hover: $b-pool;
$default-dropdown-gradient: $grad-Miyazakisky;
$theme-switch-light: inline-block;
$theme-switch-dark: none;

// Search
$sidebar-search-bg: $grey15;
$sidebar-search-shadow: rgba($g0-obsidian, .5);
$sidebar-search-highlight: $b-pool;
$sidebar-search-text: $g20-white;

// Left Navigation
$nav-category: $b-pool;
$nav-category-hover: $g20-white;
$nav-item: $g15-platinum;
$nav-item-hover: $b-pool;
$nav-border: $grey25;
$nav-toggle: $g16-pearl;
$nav-toggle-hover: $g16-pearl;
$nav-toggle-bg-hover: $b-pool;
$nav-active: $br-chartreuse;

// Product Flags
$product-cloud: $b-pool;
$product-oss: $p-potassium;
$product-enterprise: $br-galaxy;

// Article Content
$article-bg: $grey10;
$article-heading: $g20-white;
$article-heading-alt: $g19-ghost;
$article-text: $g15-platinum;
$article-bold: $g19-ghost;
$article-link: $b-pool;
$article-link-hover: $g20-white;
$article-hr: $g5-pepper;
$article-shadow: $grey5;

// Article Code
$article-code: $cp-munchkin;
$article-code-bg: $grey5;
$article-code-shadow: $g0-obsidian;
$article-code-accent1: $g7-graphite;
$article-code-accent2: $b-pool;
$article-code-accent3: $gr-viridian;
$article-code-accent4: $r-ruby;
$article-code-accent5: #ff6db0;
$article-code-accent6: $b-pool;
$article-code-accent7: #e90;
$article-code-select: $b-pool;
$article-code-link: $b-pool;
$article-code-link-hover: $g20-white;
$article-code-scrollbar: $g3-castle;

// Article Tables
$article-table-header: $grad-GundamPilot;
$article-table-row-alt: $grey20;
$article-table-scrollbar: $g0-obsidian;

// Article Notes, Warnings, & Messages
$article-note-base: $b-pool;
$article-note-heading: $g20-white;
$article-note-text: $b-neutrino;
$article-note-strong: $g20-white;
$article-note-link: $g20-white;
$article-note-link-hover: $b-hydrogen;
$article-note-table-header: $grad-blue-dark;
$article-note-table-row-alt: #1b3a58;
$article-note-table-scrollbar: #192a3a;
$article-note-shadow: $g0-obsidian;
$article-note-code: $b-laser;
$article-note-code-bg: #0a071c;
$article-note-code-accent1: #567375;
$article-note-code-accent2: $b-pool;
$article-note-code-accent3: $gr-viridian;
$article-note-code-accent4: $r-ruby;
$article-note-code-accent5: #ff6db0;
$article-note-code-accent6: $b-pool;
$article-note-code-accent7: #e90;
$article-note-code-scrollbar: #192a3a;

$article-tip-base: $gr-viridian;
$article-tip-heading: $g20-white;
$article-tip-text: $gr-honeydew;
$article-tip-strong: $g20-white;
$article-tip-link: $gr-wasabi;
$article-tip-link-hover: $g20-white;
$article-tip-table-header: $grad-green-dark;
$article-tip-table-row-alt: #1a3c34;
$article-tip-table-scrollbar: #162627;
$article-tip-shadow: $g0-obsidian;
$article-tip-code: $br-galaxy;
$article-tip-code-bg: #040d0e;
$article-tip-code-accent1: #567375;
$article-tip-code-accent2: $b-pool;
$article-tip-code-accent3: $gr-viridian;
$article-tip-code-accent4: $r-ruby;
$article-tip-code-accent5: #ff6db0;
$article-tip-code-accent6: $b-pool;
$article-tip-code-accent7: #e90;
$article-tip-code-scrollbar: #162627;

$article-important-base: $br-galaxy;
$article-important-heading: $g20-white;
$article-important-text: $cp-munchkin;
$article-important-strong: $g20-white;
$article-important-link: #797aff;
$article-important-link-hover: $g20-white;
$article-important-table-header: $grad-OminousFog;
$article-important-table-row-alt: #1b1b33;
$article-important-table-scrollbar: #56519e;
$article-important-shadow: #11111d;
$article-important-code: #9f92ff;
$article-important-code-bg: #0a071c;
$article-important-code-accent1: #5f51ac;
$article-important-code-accent2: $br-pulsar;
$article-important-code-accent3: #009a64;
$article-important-code-accent4: $r-ruby;
$article-important-code-accent5: #e24bbb;
$article-important-code-accent6: #00a5eb;
$article-important-code-accent7: #e90;
$article-important-code-scrollbar: #56519e;

$article-warning-base: $r-dreamsicle;
$article-warning-bg: #ff61851a;
$article-warning-heading: $g20-white;
$article-warning-text: $r-tungsten;
$article-warning-strong: $g20-white;
$article-warning-link: $r-marmelade;
$article-warning-link-hover: $g20-white;
$article-warning-table-header: $grad-red;
$article-warning-table-row-alt: #4a2a2a;
$article-warning-table-scrollbar: #1f181b;
$article-warning-shadow: #0d0610;
$article-warning-code: #ec6e6e;
$article-warning-code-bg: #0d0610;
$article-warning-code-accent1: #844c4c;
$article-warning-code-accent2: $b-pool;
$article-warning-code-accent3: $gr-viridian;
$article-warning-code-accent4: $r-ruby;
$article-warning-code-accent5: #ffb4fb;
$article-warning-code-accent6: $b-pool;
$article-warning-code-accent7: #e90;
$article-warning-code-scrollbar: #2a2025;

$article-caution-base: $br-new-magenta;
$article-caution-bg: rgba($br-new-magenta, .12);
$article-caution-heading: $g20-white;
$article-caution-text: #fe9dbc;
$article-caution-strong: $g20-white;
$article-caution-link: #f3d5e1;
$article-caution-link-hover: $g20-white;
$article-caution-table-header: $br-new-magenta, #ff598f;
$article-caution-table-row-alt: #391b35;
$article-caution-table-scrollbar: #912a58;
$article-caution-shadow: #0f050e;
$article-caution-code: #ff679b;
$article-caution-code-bg: #0d0610;
$article-caution-code-accent1: #8f3f5a;
$article-caution-code-accent2: #3d97e5;
$article-caution-code-accent3: #947eff;
$article-caution-code-accent4: $r-ruby;
$article-caution-code-accent5: #ffa0de;
$article-caution-code-accent6: #3d97e5;
$article-caution-code-accent7: #e90;
$article-caution-code-scrollbar: #5c1b38;

// Article Tabs for tabbed content
$article-tab-text: $g12-forge;
$article-tab-bg: $grey5;
$article-tab-active-text: $g20-white;
$article-tab-active-bg: $b-pool;

$article-tab-code-text: $g20-white;

// Article page buttons
$article-btn-gradient: $grad-blue;
$article-btn-text: $g20-white;
$article-btn-gradient-hover: $grad-blue-light;
$article-btn-text-hover: $g20-white;

// Article UI nav icons
$article-nav-icon-bg: $g5-pepper;
$article-nav-acct-bg: $g3-castle;

// Datetime shortcode colors
$current-timestamp-color: $g15-platinum;
$current-date-color: $g15-platinum;
$current-time-color: $g15-platinum;
$enterprise-eol-date-color: $g15-platinum;

// Error Page Colors
$error-page-btn: $b-pool;
$error-page-btn-text: $g20-white;
$error-page-btn-hover: $g20-white;
$error-page-btn-hover-text: $b-pool;

// Landing Page colors
$landing-artwork-gradient: $grad-GrapeSoda;
$landing-artwork-color: rgba($br-galaxy, .25);
$landing-sm-bg: rgba($g1-raven, .4);
$landing-sm-bg-hover: $b-pool;
$landing-btn-text: $g20-white;
$landing-btn-grad: $grad-blue;
$landing-btn-grad-hover: $grad-blue-light;

// Home page colors
$home-icon-c1: $g20-white;
$home-icon-c2: $body-bg;

// Tooltip colors
$tooltip-color: $br-chartreuse;
$tooltip-color-alt: $br-chartreuse;
$tooltip-bg: $br-chartreuse;
$tooltip-text: $g2-kevlar;

// Support and feedback buttons
$feedback-btn-bg: $grey25;

// URL Modal colors
$modal-field-bg: $g1-raven;

// SVG colors
$svg-table-header: $g6-smoke;
$svg-table-stroke: $g0-obsidian;
$svg-table-row-alt1: $br-magenta;
$svg-table-row-alt2: $gr-rainforest;
$svg-table-code: $article-code;
$svg-table-code-bg: $g0-obsidian;
$svg-table-code-operator: $b-pool;
$svg-table-code-string: $gr-viridian;

$svg-geo-s2-cell: $b-dodger;
$svg-geo-region: $p-comet;
$svg-geo-point: $br-chartreuse;

// HTML diagram colors
$html-diagram-shard-group-bg: $article-table-row-alt;

// Diagram colors
$diagram-arrow: $g6-smoke;

$flux-water-process-img: url('/img/flux/0-x-water-process-dark.svg');
$influxdb-logo: url('/svgs/influxdb-logo-white.svg') !default;

// Code placeholder colors
$code-placeholder: #e659a2;
$code-placeholder-hover: $br-teal;

// Badge colors
$badge-experimental-text: $article-caution-text;
$badge-experimental-bg: $article-caution-bg;
