// InfluxData Docs Default Theme (Light) 

// Import Tools
@import "tools/fonts",
        "tools/media-queries.scss",
        "tools/mixins.scss",
        "tools/tooltips",
        "tools/datepicker.scss",
        "tools/normalize.scss";

// Import default light theme
@import "themes/theme-light.scss";

// Import Layout Styles
@import "layouts/global",
        "layouts/top-nav",
        "layouts/homepage",
        "layouts/sidebar",
        "layouts/sidebar-toggle",
        "layouts/content-wrapper",
        "layouts/article",
        "layouts/inline-icons",
        "layouts/syntax-highlighting",
        "layouts/algolia-search-overrides",
        "layouts/landing",
        "layouts/error-page",
        "layouts/footer-widgets",
        "layouts/modals",
        "layouts/loading-spinner",
        "layouts/feature-callouts",
        "layouts/v1-overrides",
        "layouts/notifications",
        "layouts/code-controls",
        "layouts/v3-wayfinding";

