{{ $productPathData := split .RelPermalink "/" }}
{{ $product := index $productPathData 0 }}
{{ $version := index $productPathData 1 | default "v2" }}

  <!-- Modals -->
  {{ partial "footer/modals.html" . }}
  {{ partial "footer/feature-callout.html" . }}
  {{ partial "footer/fullscreen-code.html" . }}

  <!-- Docsearch JS -->
  {{ partial "footer/search.html" . }}

  <!-- Docs Notifications -->
  {{ partial "footer/notifications.html" . }}

  <!-- Custom time modal trigger-->
  {{ partial "footer/custom-time-trigger" . }}

  <!-- IOx wayfinding modal -->
  {{ if in (slice "cloud" "cloud-serverless") $version }}
    {{ partial "footer/v3-wayfinding.html" . }}
  {{ end }}

  </body>
  {{ partial "footer/javascript.html" . }}
</html>
