<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ if .Description }}{{ .Description }}. {{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ if .Params.seotitle }} {{ .Params.seotitle }} {{ else if .Title }} {{ .Title }} {{ end }} | InfluxData Documentation</title>
    {{ partial "nested/stylesheets.html"}}
  </head>
  <body>
