{{ $currentVersion := (index (findRE "[^/]+.*?" .RelPermalink) 0) }}
<!doctype html>
<html lang="en">
  <head>
    {{ partial "header/google-analytics.html" }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ if .Description }}{{ .Description | markdownify | plainify }}{{else}}{{ .Summary | markdownify | plainify }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <title>{{ if .Params.seotitle }} {{ print .Params.seotitle " | " }} {{ else if .Title }} {{ print .Title  " | " }} {{ end }}InfluxDB {{ if $currentVersion }}{{print $currentVersion " " }}{{ end }}Documentation</title>

    {{ partial "header/canonical.html" . }}
    {{ partial "header/stylesheets.html" }}

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|Titillium+Web:300i,700i|Inconsolata:400,700" rel="stylesheet">

    {{ partial "header/javascript.html" }}

    <meta name="Copyright" content="InfluxData Inc." />
  </head>
  <body>
    {{ partial "topnav.html" . }}
