{{ $currentPage := . }}
{{ $productPathData := findRE "[^/]+.*?" .RelPermalink }}
{{ $product := index $productPathData 0 }}
{{ $productName := (index .Site.Data.products $product).name }}
{{ $currentVersion := index $productPathData 1 }}

<!-- Menu Key -->
{{ .Scratch.Set "menuKey" "menu"}}
{{ if eq $product "platform" }}
  {{ .Scratch.Set "menuKey" "platform" }}
{{ else }}
  {{ .Scratch.Set "menuKey" (print $product "_" (replaceRE `\.` "_" (replaceRE "v" "" $currentVersion))) }}
{{ end }}

{{ $menuKey := .Scratch.Get "menuKey" }}

<!-- Search placeholder -->
{{ .Scratch.Set "searchPlaceholder" "Search"}}

{{ if and (eq (index .Site.Data.products $product).name nil) (eq (len (findRE `v[1-2]\.` $currentVersion nil)) 0) }}
  {{ .Scratch.Set "searchPlaceholder" "Search the docs" }}
{{ else if (eq $currentVersion nil) }}
  {{ .Scratch.Set "searchPlaceholder"  (print "Search " (index .Site.Data.products $product).name) }}
{{ else if eq $product "influxdb" }}
  {{ .Scratch.Set "searchPlaceholder"  (print "Search " (index .Site.Data.products $product).name " " (cond (in $currentVersion "v") $currentVersion (title $currentVersion)) " & Flux") }}
{{ else }}
  {{ .Scratch.Set "searchPlaceholder"  (print "Search " (index .Site.Data.products $product).name " " $currentVersion) }}
{{ end }}

{{ $searchPlaceholder := .Scratch.Get "searchPlaceholder" }}

<aside class="sidebar">
  <div class="sidebar-toggle" onclick="toggle_sidebar('sidebar-closed');return false;"><a href="#">&#xe919;</a></div>
  <div class="search-and-nav-toggle">
    <div class="sidebar--search">
      <input  class="sidebar--search-field"
              id="algolia-search-input"
              type="text"
              accesskey="s"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              dir="auto"
              placeholder='{{ $searchPlaceholder }}'>
    </div>
    <a id="contents-toggle-btn" href="#">
      <span class="toggle-hamburger"></span>
    </a>
  </div>
  <ul id="nav-tree">

  {{ $mainMenu := (index .Site.Menus $menuKey) }}
  {{ $refMenu := (index .Site.Menus (print $menuKey "_ref")) }}
  {{ $platformMenu := .Site.Menus.platform }}

  <!-- Product Main Navigation -->
  {{ partial "sidebar/nested-menu" (dict "page" $currentPage "menu" $mainMenu) . }}

  <!-- Product Reference Navigation -->
  {{ if gt (len $refMenu) 0 }}
    <h4 class="reference">Reference</h4>
    {{ partial "sidebar/nested-menu" (dict "page" $currentPage "menu" $refMenu) . }}
  {{ end }}

  <!-- Platform menu for 1.x docs -->
  {{ $platformWhitelist := `telegraf|chronograf|kapacitor|enterprise_influxdb|influxdb_1` }}
  {{ if gt (len (findRE $platformWhitelist $menuKey)) 0 }}
    <h4 class="platform">InfluxData Platform</h4>
    {{ partial "sidebar/nested-menu" (dict "page" $currentPage "menu" $platformMenu) . }}
  {{ end }}

  </ul>
</aside>
