{{ $productPathData := findRE "[^/]+.*?" .RelPermalink }}
{{ $product := index $productPathData 0 }}
{{ $currentVersion := index $productPathData 1 }}

<div class="topnav">
  <div class="topnav-left">
    <a class="influx-home" href="https://www.influxdata.com" title="InfluxData"><span class="icon-influx-logo"></span><span class="icon-influx-logotype"></span></a>
    <span class="divider"></span>
    <a class="docs-home" href="/"><span class=short>Doc</span><span class="long">umentation</span></a>
  </div>
  <div class="topnav-right">
    <div class="selector-dropdowns">
      {{ partial "topnav/product-selector.html" . }}
      {{ partial "topnav/version-selector.html" . }}
    </div>
    <div class="buttons">
      <div class="search-btn">
        <button id="search-btn" onclick="toggle_sidebar('sidebar-open');document.getElementById('algolia-search-input').focus();return false;"><span class="icon-search"></span></button>
      </div>
      <button class="url-trigger" href="#"><span class="icon-cog-thick"></span></button>
      <button class="theme-switcher" id="theme-switch-light" onclick="switch_style('light-theme');return false;"><span class="icon-sun1"></span></button>
      <button class="theme-switcher" id="theme-switch-dark" onclick="switch_style('dark-theme');return false;"><span class="icon-moon1"></span></button>
    </div>
  </div>
</div>
