{{ $productPathData := findRE "[^/]+.*?" .RelPermalink }}
{{ $product := index $productPathData 0 }}
{{ $currentVersion := index $productPathData 1 }}

{{ if or (eq $product nil) (lt (len (findRE `v[0-2]\.[0-9]{1,2}` $currentVersion)) 1) }}
{{ else }}
<div class="dropdown">
  <p class="selected">{{ $currentVersion }}</p>
  <ul class="item-list">
    <li><a href="https://github.com/influxdata/docs.influxdata.com" class="legacy" target="_blank">older</a></li>
    {{ range (index .Site.Data.products $product).versions }}
      <li>
        <a href="/{{ $product }}/{{ . }}" {{ if eq . $currentVersion }}class="active"{{ end }}>{{ . }}</a>
      </li>
    {{ end }}
  </ul>
</div>
{{ end }}
