{{ $influxdbVersionV2 := replaceRE `\.[0-9]+$` "" .Site.Data.products.influxdb.latest_patches.v2 }}
{{ $influxdbVersionV1 := replaceRE `\.[0-9]+$` "" .Site.Data.products.influxdb.latest_patches.v1 }}
{{ $enterpriseVersion := .Site.Data.products.enterprise_influxdb.latest }}
{{ $telegrafVersion := .Site.Data.products.telegraf.latest }}
{{ $chronografVersion := .Site.Data.products.chronograf.latest }}
{{ $kapacitorVersion := .Site.Data.products.kapacitor.latest }}
{{ $fluxVersion := .Site.Data.products.flux.latest }}

{{ partial "header.html" . }}
{{ partial "topnav.html" . }}

<div class="home">

  <div class="section search">
    <div class="sidebar--search">
      <input  class="sidebar--search-field"
              id="algolia-search-input"
              type="text"
              accesskey="s"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              dir="auto"
              placeholder='Search the docs'>
    </div>
  </div>

  <div id="influxdb" class="section group-wrapper">
    <h2>Get started with <span class="magenta">InfluxDB</span></h2>
    <p class="subhead">The time series platform</p>
    <div class="categories">
      <div class="category">
        <h4>Self-managed</h4>
        <div class="category-card">
          <div class="product new">
            <h3><a href="/influxdb/clustered/">InfluxDB Clustered</a></h3>
            <p>Highly available InfluxDB 3.0 cluster built for high write and query workloads on your own infrastructure.</p>
            <div class="product-links">
              <a href="/influxdb/clustered/">View documentation</a>
              <a href="/influxdb/clustered/get-started/">Get started</a>
            </div>
          </div>
          <div class="product">
            <h3><a href='/enterprise_influxdb/v1/'>InfluxDB Enterprise <span class="version">{{ replaceRE "v" "" $enterpriseVersion }}</span></a></h3>
            <p>Highly available InfluxDB built for high write and query workloads.</p>
            <div class="product-links">
              <a href="/enterprise_influxdb/v1/">View documentation</a>
              <a href="/enterprise_influxdb/v1/introduction/">Get started</a>
            </div>
          </div>
          <div class="product">
            <h3><a href="/influxdb/v2/">InfluxDB OSS <span class="version">{{ replaceRE "v" "" $influxdbVersionV2 }}</span></a></h3>
            <p>The open source time series platform designed to store, query, and process time series data.</p> 
            <div class="product-links">
              <a href="/influxdb/v2/">View documentation</a>
              <a href="/influxdb/v2/get-started/">Get started</a>
            </div>
          </div>
        </div>
      </div>
      <div class="category">
        <h4>Managed by InfluxData</h4>
        <div class="category-card">
          <div class="product new">
            <h3><a href="/influxdb/cloud-serverless/">InfluxDB Cloud Serverless</a></h3>
            <p>Managed InfluxDB powered by the InfluxDB <strong>IOx</strong> storage engine deployed in the cloud.</p>
            <div class="product-links">
              <a href="/influxdb/cloud-serverless/">View documentation</a>
              <a href="/influxdb/cloud-serverless/get-started/">Get started</a>
            </div>
          </div>
          <div class="product new">
            <h3><a href="/influxdb/cloud-dedicated/">InfluxDB Cloud Dedicated</a></h3>
            <p>Managed InfluxDB powered by the InfluxDB <strong>IOx</strong> storage engine deployed in the cloud and dedicated to your workload.</p>
            <div class="product-links">
              <a href="/influxdb/cloud-dedicated/">View documentation</a>
              <a href="/influxdb/cloud-dedicated/get-started/">Get started</a>
            </div>
          </div>
          <div class="product">
            <h3><a href="/influxdb/cloud/">InfluxDB Cloud <span class="version">TSM</span></a></h3>
            <p>Managed InfluxDB powered by the InfluxDB <strong>TSM</strong> storage engine deployed in the cloud.</p>
            <div class="product-links">
              <a href="/influxdb/cloud/">View documentation</a>
              <a href="/influxdb/cloud/get-started/">Get started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="api-guides" class="section group-wrapper blue flush-left">
    <div class="padding-wrapper">
      <div>
        <div class="text">
          <h3>Develop with the InfluxDB v2 API</h3>
          <p>Build your application using the InfluxDB Cloud and InfluxDB OSS v2 APIs.</p>
        </div>
      </div>
      <div id="api-guides-btn" class="exp-btn-wrapper">
        <div class="exp-btn">
          <p>View the InfluxDB API Dev Guides</p>
          <ul class="exp-btn-links">
            <li><a href="/influxdb/cloud/api-guide/">InfluxDB Cloud</a></li>
            <li><a href="/influxdb/v2/api-guide/">InfluxDB OSS {{ replaceRE "v" "" $influxdbVersionV2 }}</a></li>
          </ul>
        </div>
        <div class="close-btn">
          <span class="icon-x"></span>
        </div>
      </div>
    </div>
  </div>

  <div id="popular" class="section group-wrapper">
    <div class="product-cards">
      <div id="telegraf" class="card">
        <h3>Collect data with <span class="orange">Telegraf</span></h3>
        <!-- <p>Collect time series data from many different sources.</p> -->
        <div class="card-links">
          <a href="/telegraf/v1/">Get started with <strong>Telegraf {{ replaceRE "v" "" $telegrafVersion }}</strong></a><br/>
          <a href="/telegraf/v1/plugins/">View Telegraf plugins</a>
        </div>
      </div>
      <div id="flux" class="card">
        <h3>Query & process data <span class="no-wrap">with <span class="blue">Flux</span></span></h3>
        <!-- <p>The data scripting language that queries, processes, alerts on, and writes data.</p> -->
        <div class="card-links">
          <a href="/flux/v0/">Get started with Flux</a><br/>
          <a href="/flux/v0/stdlib/">View the Flux standard library</a>
        </div>
      </div>
    </div>
  </div> 

  <div id="learn-more" class="section group-wrapper">
    <h4>Learn more</h4>
    <div class="learn-items">
      <div class="item">
        <div class="icon">{{ partial "svgs/influxdbu.svg" }}</div>
        <h5>InfluxDB University</h5>
        <p>Free online training for InfluxDB and more.</p>
        <a href="https://university.influxdata.com/" target="_blank">Go to InfluxDB University</a>
      </div>
      <div class="item">
        <div class="icon">{{ partial "svgs/book.svg" }}</div>
        <h5>Time to Awesome</h5>
        <p>Free online about using InfluxDB and Flux.</p>
        <a href="https://awesome.influxdata.com/" target="_blank">View the book</a>
      </div>
      <div class="item">
        <div class="icon">{{ partial "svgs/video-arrow.svg" }}</div>
        <h5>InfluxData Videos</h5>
        <p>Videos on specific topics related to time series and InfluxData projects.</p>
        <a href="/resources/videos/">View videos</a>
      </div>
      <div class="item">
        <div class="icon">{{ partial "svgs/hatch.svg" }}</div>
        <h5>Case Studies</h5>
        <p>Learn about real world use cases and InfluxDB in the wild.</p>
        <a href="https://www.influxdata.com/_resources/case-studies/" target="_blank">View case studies</a>
      </div>
    </div>
  </div>

  <div id="tick" class="section group-wrapper blue flush-right">
    <div class="padding-wrapper">
      <div class="tick-title">
        <h4><a href="/platform/#influxdata-1x-tick-stack">The TICK stack</a></h4>
        <p>The original time series platform</p>
      </div>
      <div class="tick-links">
        <ul class="oss">
          <h5>Open Source</h5>
          <li><a href="/telegraf/v1/">Telegraf {{ replaceRE "v" "" $telegrafVersion }}</a></li>
          <li><a href="/influxdb/v1/">InfluxDB {{ replaceRE "v" "" $influxdbVersionV1 }}</a></li>
          <li><a href="/chronograf/v1/">Chronograf {{ replaceRE "v" "" $chronografVersion }}</a></li>
          <li><a href="/kapacitor/v1/">Kapacitor {{ replaceRE "v" "" $kapacitorVersion }}</a></li>
        </ul>
        <ul class="enterprise">
          <h5>Enterprise</h5>
          <li><a href="/enterprise_influxdb/v1/">InfluxDB Enterprise {{ replaceRE "v" "" $enterpriseVersion }}</a></li>
          <li><a href="https://archive.docs.influxdata.com/enterprise_kapacitor/v1.5/">Kapacitor Enterprise 1.5 <span class="cf-icon Export_New"></span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="copyright" class="section group-wrapper">
    <div class="padding-wrapper">

        <p>© {{ now.Year }} InfluxData, Inc.</p>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
