{{ $influxdbVersionV2 := replaceRE `\.[0-9]+$` "" .Site.Data.products.influxdb.latest_patches.v2 }}
{{ $influxdbVersionV1 := replaceRE `\.[0-9]+$` "" .Site.Data.products.influxdb.latest_patches.v1 }}
{{ $enterpriseVersion := replaceRE "v" "" .Site.Data.products.enterprise_influxdb.latest }}
{{ $telegrafVersion := replaceRE "v" "" .Site.Data.products.telegraf.latest }}
{{ $chronografVersion := replaceRE "v" "" .Site.Data.products.chronograf.latest }}
{{ $kapacitorVersion := replaceRE "v" "" .Site.Data.products.kapacitor.latest }}
{{ $fluxVersion := replaceRE "v" "" .Site.Data.products.flux.latest }}

<!--
  Show the page if:
  - This is a regular page (not test-only) OR
  - This is a test-only page BUT we're currently in the testing environment
-->
{{ if or (not .Params.test_only) (and .Params.test_only (in site.Params.environment (slice "testing" "development"))) }}

{{ partial "header.html" . }}
{{ partial "topnav.html" . }}

<div class="home-content">

  <div class="section search">
    <div class="sidebar--search">
      <input  class="sidebar--search-field"
              id="algolia-search-input"
              type="text"
              accesskey="s"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              dir="auto"
              placeholder='Search the docs'>
    </div>
  </div>

  <h1>InfluxData Documentation</h1>

  <div class="padding-wrapper">
    <div id="influxdb3" class="product-group">      
      <h2>InfluxDB 3</h2>
      <p>The modern time series data engine built for high-speed, high-cardinality data, from the edge to the cloud.</p>
      <div class="categories">
        <div class="category full">
          <div class="category-head">
            <h4>Self-managed</h4>
          </div>
          <div class="products">
            <div class="product">
              <div class="product-info">
                <h3 state="New"><a href="/influxdb3/core/">InfluxDB 3 Core</a></h3>
                <p>The open source recent data engine optimized for time series and event data.</p>
              </div>
              <ul class="product-links">
                <li><a href="/influxdb3/core/get-started/">Get started with InfluxDB 3 Core</a></li>
                <li><a href="/influxdb3/core/">View documentation</a></li>
              </ul>
            </div>
            <div class="product" >
              <div class="product-info">
                <h3 state="New"><a href="/influxdb3/enterprise/">InfluxDB 3 Enterprise</a></h3>
                <p>The scalable data engine built for recent and historical time series and event data.</p>
              </div>
              <ul class="product-links">
                <li><a href="/influxdb3/enterprise/get-started/">Get started with InfluxDB 3 Enterprise</a></li>
                <li><a href="/influxdb3/enterprise/">View documentation</a></li>
              </ul>
            </div>
            <div class="product">
              <div class="product-info">
                <h3><a href="/influxdb3/clustered/">InfluxDB Clustered</a></h3>
                <p>The Kubernetes-enabled, highly-available InfluxDB 3 cluster built for high write and query workloads on your own infrastructure.</p>
              </div>
              <ul class="product-links">
                <li><a href="/influxdb3/clustered/get-started/">Get started with InfluxDB Clustered</a></li>
                <li><a href="/influxdb3/clustered/">View documentation</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="category two-thirds">
          <div class="category-head">
            <h4>Fully-Managed</h4>
          </div>
          <div class="products">
            <div class="product">
              <div class="product-info">
                <h3><a href="/influxdb3/cloud-serverless/">InfluxDB Cloud Serverless</a></h3>
                <p>The fully-managed, multi-tenant InfluxDB 3 service deployed in the cloud.</p>
              </div>
              <ul class="product-links">
                <li><a href="/influxdb3/cloud-serverless/get-started/">Get started with Cloud Serverless</a></li>
                <li><a href="/influxdb3/cloud-serverless/">View documentation</a></li>
              </ul>
            </div>
            <div class="product">
              <div class="product-info">
                <h3><a href="/influxdb3/cloud-dedicated/">InfluxDB Cloud Dedicated</a></h3>
                <p>The fully-managed InfluxDB 3 cluster dedicated to your workload and deployed in the cloud.</p>
              </div>
              <ul class="product-links">
                <li><a href="/influxdb3/cloud-dedicated/get-started/">Get started with Cloud Dedicated</a></li>
                <li><a href="/influxdb3/cloud-dedicated/">View documentation</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="category one-third">
          <div class="category-head">
            <h4>Tools</h4>
          </div>
          <div class="products">
            <div class="product">
              <div class="product-info">
                <h3 state="beta"><a href="/influxdb3/explorer/">InfluxDB 3 Explorer</a></h3>
                <p>A standalone UI designed for visualizing, querying, and managing data in InfluxDB 3 Core and Enterprise.</p>
              </div>
              <ul class="product-links">
                <li><a href="/influxdb3/explorer/get-started/">Get started with Explorer</a></li>
                <li><a href="/influxdb3/explorer/">View documentation</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="telegraf" class="product-group blue">
      <div class="bg-overlay"></div>
      <div class="product-info">
        <h2>Collect data with Telegraf</h2>
        <p>The data collection agent that supports a large catalog of data sources and targets.</p>      
      </div>
      <ul class="product-links">
        <li><a href="/telegraf/v1/get-started/">Get started with Telegraf</a></li>
        <li><a href="/telegraf/v1/plugins/">View Telegraf plugins</a></li>
      </ul>
    </div>
  
    <div id="influxdbv2" class="product-group">
      <h2>InfluxDB 2</h2>
      <div class="products">
        <div class="product">
          <div class="product-info">
            <h3><a href="/influxdb/v2/">InfluxDB OSS <span class="version">{{ $influxdbVersionV2 }}</span></a></h3>
            <p>The open source time series platform with support for Flux and InfluxQL, scheduled tasks, dashboards, and more.</p>
          </div>
          <ul class="product-links">
            <li><a href="/influxdb/v2/get-started/">Get started with InfluxDB OSS {{ $influxdbVersionV2 }}</a></li>
            <li><a href="/influxdb/v2/">View documentation</a></li>
          </ul>
        </div>
        <div class="product">
          <div class="product-info">
            <h3><a href="/influxdb/cloud/">InfluxDB Cloud <span class="version">TSM</span></a></h3>
            <p>The fully-managed, multi-tenant InfluxDB v2 instance deployed in the cloud and powered by the <strong>TSM</strong> storage engine.</p>
          </div>
          <ul class="product-links">
            <li><a href="/influxdb/cloud/get-started/">Get started with InfluxDB Cloud</a></li>
            <li><a href="/influxdb/cloud/">View documentation</a></li>
          </ul>
        </div>
        <div class="product">
          <div class="product-info">
            <h3><a href="/flux/v0/">Flux <span class="version">{{ $fluxVersion }}</span></a></h3>
            <p>The functional language specifically designed for querying and processing data.</p>
          </div>
          <ul class="product-links">
            <li><a href="/flux/v0/get-started/">Get started with Flux</a></li>
            <li><a href="/flux/v0/stdlib/">View the Flux standard library</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div id="influxdbv1" class="product-group">
      <h2>InfluxDB 1</h2>
      <div class="products">
        <div class="product">
          <div class="product-info">
            <h3><a href="/influxdb/v1/">InfluxDB OSS <span class="version">{{ $influxdbVersionV1 }}</span></a></h3>
            <p>The open source single-node InfluxDB v1 instance designed for high write and query workloads.</p>
          </div>
          <ul class="product-links">
            <li><a href="/influxdb/v1/introduction/get-started/">Get started with InfluxDB OSS {{ $influxdbVersionV1 }}</a></li>
            <li><a href="/influxdb/v1/">View documentation</a></li>
          </ul>
        </div>
        <div class="product">
          <div class="product-info">
            <h3><a href="/enterprise_influxdb/v1/">InfluxDB Enterprise <span class="version">{{ $enterpriseVersion }}</span></a></h3>
            <p>The highly available InfluxDB v1 cluster built for high write and query workloads.</p>
          </div>
          <ul class="product-links">
            <li><a href="/enterprise_influxdb/v1/introduction/getting-started/">Get started with InfluxDB Enterprise {{ $enterpriseVersion }}</a></li>
            <li><a href="/enterprise_influxdb/v1/">View documentation</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div id="other" class="product-group">
      <h2>Other Products</h2>
      <div class="products">
        <div class="product">
          <div class="product-info">
            <h3><a href="/telegraf/v1/">Telegraf <span class="version">{{ $telegrafVersion }}</span></a></h3>
            <p>The collection agent that gathers time series data from many different sources.</p>
          </div>
          <ul class="product-links">
            <li><a href="/telegraf/v1/get-started/">Get started with Telegraf {{ $telegrafVersion }}</a></li>
            <li><a href="/telegraf/v1/plugins/">View Telegraf plugins</a></li>
          </ul>
        </div>
        <div class="product">
          <div class="product-info">
            <h3><a href="/chronograf/v1/">Chronograf <span class="version">{{ $chronografVersion }}</span></a></h3>
            <p>The web UI that visualizes your InfluxDB time series data and easily creates alerting and automation rules.</p>
          </div>
          <ul class="product-links">
            <li><a href="/chronograf/v1/introduction/getting-started/">Get started with Chronograf {{ $chronografVersion }}</a></li>
            <li><a href="/chronograf/v1/">View documentation</a></li>
          </ul>
        </div>
        <div class="product">
          <div class="product-info">
            <h3><a href="/kapacitor/v1/">Kapacitor <span class="version">{{ $kapacitorVersion }}</span></a></h3>
            <p>The data processing framework for creating alerts, running ETL jobs, and detecting anomalies.</p>
          </div>
          <ul class="product-links">
            <li><a href="/kapacitor/v1/introduction/getting-started/">Get started with Kapacitor {{ $kapacitorVersion }}</a></li>
            <li><a href="/kapacitor/v1/">View documentation</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div id="learn-more" class="section group-wrapper">
      <h3>Learn more</h3>
      <div class="learn-items">
        <div class="item">
          <div class="icon">{{ partial "svgs/influxdbu.svg" }}</div>
          <h4>InfluxDB University</h4>
          <p>Free online training for InfluxDB and more.</p>
          <p><a href="https://university.influxdata.com/" target="_blank">Go to InfluxDB University</a></p>
        </div>
        <div class="item">
          <div class="icon">{{ partial "svgs/book.svg" }}</div>
          <h4>Time to Awesome</h4>
          <p>Free online book about using InfluxDB v2 and Flux.</p>
          <p><a href="https://awesome.influxdata.com/" target="_blank">View the book</a></p>
        </div>
        <div class="item">
          <div class="icon">{{ partial "svgs/video-arrow.svg" }}</div>
          <h4>InfluxData Videos</h4>
          <p>Videos about time series data and InfluxData projects.</p>
          <p><a href="/resources/videos/">View videos</a></p>
        </div>
        <div class="item">
          <div class="icon">{{ partial "svgs/hatch.svg" }}</div>
          <h4>Case Studies</h4>
          <p>Learn about real world use cases and InfluxDB in the wild.</p>
          <p><a href="https://www.influxdata.com/_resources/?pg=1&ct=case_study" target="_blank">View case studies</a></p>
        </div>
      </div>
    </div>
  
    <!-- <div id="tick" class="section group-wrapper blue flush-right">
      <div class="padding-wrapper">
        <div class="tick-title">
          <h3><a href="/platform/#influxdata-1x-tick-stack">The TICK stack</a></h3>
          <p>The original time series platform</p>
        </div>
        <div class="tick-links">
          <ul class="oss">
            <h4>Open Source</h4>
            <li><a href="/telegraf/v1/">Telegraf {{ replaceRE "v" "" $telegrafVersion }}</a></li>
            <li><a href="/influxdb/v1/">InfluxDB {{ replaceRE "v" "" $influxdbVersionV1 }}</a></li>
            <li><a href="/chronograf/v1/">Chronograf {{ replaceRE "v" "" $chronografVersion }}</a></li>
            <li><a href="/kapacitor/v1/">Kapacitor {{ replaceRE "v" "" $kapacitorVersion }}</a></li>
          </ul>
          <ul class="enterprise">
            <h4>Enterprise</h4>
            <li><a href="/enterprise_influxdb/v1/">InfluxDB Enterprise {{ replaceRE "v" "" $enterpriseVersion }}</a></li>
            <li><a href="https://archive.docs.influxdata.com/enterprise_kapacitor/v1.5/">Kapacitor Enterprise 1.5 <span class="cf-icon Export_New"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>   -->
  

  <div id="copyright">
    <p>© {{ now.Year }} InfluxData, Inc.</p>
  </div>
</div>
{{ partial "footer.html" . }}
{{ else }}
  <!-- Return 404 or empty template for test_only content in production -->
  {{ if eq .Params.test_only true }}
    {{ template "404.html" . }}
  {{ end }}
{{ end }}