.ask-ai-trigger {
  display: flex;
  border-radius: $radius;
  box-shadow: 2px 2px 6px $sidebar-search-shadow;
  z-index: 1;
  color: $g20-white;
  background: $g5-pepper;
  margin: 0 5px;

  &:before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 100%; // Ensure the pseudo-element covers the entire parent
    border-radius: $radius;
    background: linear-gradient(320deg, $article-btn-gradient); // Apply the gradient background
    z-index: -1;
    opacity: 0;
    transition: opacity .2s;
    position: absolute; // Position the pseudo-element absolutely within the parent
    top: 0;
    left: 0;
  }

  &:hover:before {opacity: 1}

  a {
    display: block;
    padding: 1rem;
    line-height: 1rem;

    &:before {
      content: attr(data-tooltip);
      display: inline-block;  
      overflow: hidden;
      font-size: .9rem;
      font-style: italic;
      white-space: nowrap;
      width: 0;
      opacity: 0;
      transition: width .2s, opacity .2s;
    }

    &:hover {
      cursor: pointer;
      
      &:before{
        width: 240px;
        opacity: 1;
      }
    }
  }
}



///////////////////////////////// MEDIA QUERIES ////////////////////////////////

@include media(small) {
  .ask-ai-trigger {
    bottom: .75rem;
    right: .75rem;
  }
}