.modal {
  display: none;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .modal-overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    @include gradient($grad-Miyazakisky);
    opacity: .85;
  }

  .modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .modal-body {
    position: relative;
    display: flex;
    overflow: hidden;
    max-width: 650px;
    max-height: 95vh;
    margin-top: 10vh;
    padding: .75rem 2rem 1.5rem;
    border-radius: $radius * 1.5;
    background: $article-bg;
    color: $article-text;
    font-size: 1rem;
    transition: margin .4s;
  }

  &.open {
    .modal-body { margin-top: 0; }
  }

  #modal-close {
    position: absolute;
    padding: .25rem;
    top: 1rem;
    right: 1rem;
    color: rgba($article-text, .5);
    transition: color .2s;
    text-decoration: none;

    &:hover {
      color: $article-text;
    }
  }

  .modal-content{
    overflow: scroll;

    h3 {
      color: $article-heading;
      font-weight: $medium;
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    h4 {
      color: $article-heading;
      font-weight: $medium;
      margin: 1rem 0 .5rem $radius;
    }

    h5 {
      margin: .5rem 0 0;
      color: $article-bold;
    }

    p,li {
      margin: .25rem 0;
      line-height: 1.5rem;
      strong {
        font-weight: $medium;
        color: $article-bold;
      }
      &.note {
        padding-top: 1.25rem;
        margin-top: 1.5rem;
        color: rgba($article-text, .5);
        border-top: 1px solid rgba($article-text, .25);
        font-size: .9rem;
        font-style: italic;
      }
    }

    a {
      color: $article-link;
      font-weight: $medium;
      text-decoration: none;
      transition: color .2s;
      &:hover {
        color: $article-link-hover;
      }
    }
  }

  .products {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .product {
    margin-right: .5rem;

    .providers{
      display: flex;
      flex-wrap: wrap;
      padding: .5rem 1rem;
      background: rgba($article-text, .05);
      border-radius: $radius;

      .provider {
        flex-grow: 1;
        &:not(:last-child) {margin-right: 1rem;}
      }

      ul {
        margin: .5rem .5rem .5rem 0;
        padding: 0;
        list-style: none;
      }
    }
  }

  .radio {
    position: relative;
    display: inline-block;
    height: 1.15em;
    width: 1.15em;
    background: rgba($article-text, .05);
    margin: 0 .3rem 0 .1rem;
    vertical-align: text-top;
    border-radius: $radius;
    cursor: pointer;
    border: 1.5px solid rgba($article-text, .2);
    user-select: none;
  }

  input[type='radio'] {
    margin-right: -1.1rem ;
    padding: 0;
    vertical-align: top;
    opacity: 0;
    cursor: pointer;

    & + .radio:after {
      content: "";
      display: block;
      position: absolute;
      height: .5rem;
      width: .5rem;
      border-radius: 50%;
      background: $article-link;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: scale(2) translate(-20%, -20%);
      transition: all .2s;
    }

    &:checked + .radio:after {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%);
    }
  }
}

td,label,li {
  &:after {
    display: inline-block;
    vertical-align: text-bottom;
    font-style: italic;
    font-weight: $medium;
    font-size: .75em;
    margin-left: .35rem;
    padding: .1rem .3rem .12rem;
    line-height: .75rem;
    border-radius: 1rem;
  }
  &.beta:after {
    content: 'beta';
    color: $r-dreamsicle;
    background: rgba($r-dreamsicle, .1);
    border: 1px solid $r-dreamsicle;
  }
}

label:after {
  margin-left: .15rem;
}

///////////////////////////// InfluxDB URL Triggers ////////////////////////////

.article--content {
  .select-url {
    margin: -2.5rem 0 1rem;
    text-align: right;
    display: none;
  }

  .url-trigger {
    padding: .25rem .5rem;
    display: inline-block;
    font-size: .85rem;
    font-style: italic;
    color: rgba($article-tab-code-text, .5);
    background: $article-code-bg;
    border-radius: 0 0 $radius $radius;

    &:before {
      content: "\e923";
      display: inline-block;
      margin-right: .35rem;
      font-family: "icomoon";
      font-style: normal;
      font-size: .8rem;
    }

    &:hover {
     color: $article-tab-code-text;
    }
  }

  .code-tab-content {
    .select-url{margin-top: -3.25rem}
  }
}
