.custom-time-trigger {
  display: flex;
  border-radius: $radius;
  box-shadow: 2px 2px 6px $sidebar-search-shadow;
  z-index: 1;
  color: $g20-white;
  background: $g5-pepper;
  margin: 5px 0; /* Adjust margin for vertical spacing */

  &:before {
    content: "";
    display: flex;
    position: absolute;
    right: 0;
    width: 100%;
    height: 50%; /* Adjust gradient height to the percent the element takes up in the container. There's likely a better way to do this that doesn't depend on knowing the number of sibling elements. */
    border-radius: $radius;
    @include gradient($article-btn-gradient, 320deg);
    z-index: -1;
    opacity: 0;
    transition: opacity .2s;
  }

  &:hover:before {
    opacity: 1
  }

  a {
    display: block;
    padding: 1rem;
    line-height: 1rem;

    &:before {
      content: attr(data-tooltip);
      display: inline-block;  
      overflow: hidden;
      font-size: .9rem;
      font-style: italic;
      white-space: nowrap;
      width: 0;
      opacity: 0;
      transition: width .2s, opacity .2s;
    }

    &:hover {
      cursor: pointer;
      
      &:before{
        width: 240px;
        opacity: 1;
      }
    }
  }
}



///////////////////////////////// MEDIA QUERIES ////////////////////////////////

@include media(small) {
  .custom-time-trigger {
    bottom: .75rem;
    right: .75rem;
  }
}