.error-page {
  padding: 1rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;

  .error-content {
    margin-top: 10vh;
    max-width: 380px;
  }

  .error-code {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
    max-width: 80vw;
    max-height: 80vw;
    border-radius: 50%;
    box-shadow: 5px 5px 30px $sidebar-search-shadow;

    .error-code-border {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border: 2px solid rgba($article-link, .5);
      width: 90%;
      height: 90%;
      border-radius: 50%;
    }

    h1 {
      color: $article-link;
      font-size: 5rem;
      font-weight: 300;
      text-align: center;
    }
  }

  a {
    color: $article-link;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: $article-link-hover;
    }
  }

  .wayfinding {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 2rem 0 1.5rem;

    .btn {
      display: flex;
      position: relative;
      flex-grow: 1;
      margin-right: 4px;
      padding: .75rem 1rem;
      border-radius: $radius;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: $error-page-btn-text;
      transition: background-color .2s;
      z-index: 1;
      @include gradient($article-btn-gradient);

      &.back:before {
        content: "\e90a";
        font-family: "icomoon-v2";
        margin-right: .35rem;
        vertical-align: text-top;
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: $radius;
        @include gradient($article-btn-gradient-hover);
        opacity: 0;
        transition: opacity .2s;
        z-index: -1;
      }

      &:hover {
        cursor: pointer;

        &:after {
          opacity: 1;
        }
      }

    }
  }

  p {
    // text-align: center;
    color: $article-text;
    line-height: 1.5rem;
  }


}
