.feature-callout {
  padding: .5rem .5rem .5rem .75rem;
  @include gradient($grad-DesertFestival)
  border-radius: $radius;
  font-size: .95rem;
  font-style: italic;
  font-weight: $medium;
  color: $g20-white;
  box-shadow: 2px 2px 6px rgba($g2-kevlar, .35);

  // temp styles for animation
  transition: margin .3s ease-out;
  display: none;

  p {
    position: relative;
    margin: 0;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
    }
    &:hover {
      cursor: default;
    }
  }

  .new {
    display: inline-block;
    position: relative;
    margin-right: .25rem;
    font-size: .8rem;
    padding: .1rem .35rem;
    background: rgba($g20-white, .25);
    border-radius: 1rem;
  }

  .close {
    margin-left: .5rem;
    color: rgba($g20-white, .5);
    text-decoration: none;

    &:hover {
      color: rgba($g20-white, .9);
    }
  }
}

#callout-url-selector {
  position: absolute;
  top: 3rem;
  right: .75rem;

  p:after {
    top: -1rem;
    right: 1.85rem;
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent #CB39C4 transparent;
  }

  &.start-position {
    margin-top: 2.5rem
  }
}

///////////////////////////////// Media Queries ////////////////////////////////

@include media(small) {
  #callout-url-selector {
    top: .55rem;
    right: 5.15rem;

    p:after {
      top: .15rem;
      right: -16px;
      border-width: 7px 0 7px 8px;
      border-color: transparent transparent transparent #C231D9;
    }

    &.start-position {
      margin-top: 2.5rem
    }
  }
}
