////////////////////////// Fullscreen codeblock styles /////////////////////////
.fullscreen-code {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  background: $article-code-bg;
  overflow: scroll !important;

  .fullscreen-close {
    position: fixed;
    padding: .1rem;
    right: .75rem;
    top: .5rem;
    display: block;
    color: $article-code;
    font-size: 2rem;
    text-decoration: none;
    background: $article-code-bg;
    border-radius: $radius;

    span {
      opacity: 0.5;
      transition: opacity 0.2s;
    }    

    &:hover span {opacity: 1};
  }

  pre {
    display: block;
    line-height: 1.75rem;
  }
}

