$rubik: 'Rubik', sans-serif;
$code: 'IBM Plex Mono', monospace;;

// Font weights
$medium: 500;
$bold: 700;


html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Rubik', sans-serif;
  background: $body-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

a {
  transition: color .2s, background-color .2s;
}

.page-wrapper {
  display: flex;
  flex-grow: 1;
}

////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// MEDIA QUERIES ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@include media(medium) {
  .page-wrapper {
    flex-direction: column;
  }
}
