html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: $proxima;
  background: $body-bg;

  // One off style to hide element injected by Scarf marketing integration
  & > img[referrerpolicy="no-referrer-when-downgrade"] {display: none;}
}

* {
	box-sizing: border-box;
}

a {
  transition: color .2s, background-color .2s;
}

.page-wrapper {
  display: flex;
  flex-grow: 1;
}

// Used to hide honeypot form fields
.bowlofsweets {display: none;}

////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// MEDIA QUERIES ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@include media(medium) {
  .page-wrapper {
    flex-direction: column;
  }
}
