// Helper styles for inline icons used with the "icon" shortcode
.article--content .inline {
  &.middle:before { vertical-align: middle; }
  &.xsmall:before { font-size: .8rem; }
  &.small:before { font-size: .9rem; }
  &.large:before { font-size: 1.1rem; }

  &.add-btn-round {
    font-family: "icomoon";
    color:#fff;
    background:#22adf6;
    border-radius:50%;
    margin:0 .25rem;
    display: inline-block;
    vertical-align: text-top;    
    font-size: .7rem;
    width: 20px;
    height: 20px;
    padding-left: .28rem;
    line-height: 1.35rem;
  }
}
