.cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: linear-gradient(55deg, $landing-lg-gradient-left, $landing-lg-gradient-right );

  a {
    text-decoration: none;
    color: inherit;
  }

  #landing-hive {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    path, ellipse {
      fill: $landing-artwork-color;
    }
  }

  .group {
    display: flex;

    flex-wrap: wrap;
  }

  .card {
    text-align: center;
    z-index: 1;

    &.full {
      width: 100%;
      padding: 5rem 2rem;
    }

    &.quarter {
      flex-grow: 2;
      margin: 1px;
      padding: 1.5rem;
      background: rgba($landing-sm-gradient-overlay, .65);
      transition: background-color .4s;
      &:hover {
        background: rgba($landing-sm-gradient-overlay, .9);
      }
    }

    h1,h2,h3,h4 {
      font-weight: 300;
      text-align: center;
      color: $g20-white;
    }

    h1 {
      margin: 0 0 1.25rem;
      font-size: 2.25rem;
      z-index: 1;
    }

    h3 { font-size: 1.25rem;}

    &#get-started {
      text-align: center;

      .btn {
        display: inline-block;
        padding: .65rem 2.5rem;
        color: $g20-white;
        font-weight: bold;
        background: rgba($g20-white, .2);
        border: 2px solid $g20-white;
        transition: background-color .2s, color .2s;

        &:hover {
          background: $g20-white;
          color: $b-pool;
        }
      }
    }
    &#cloud {
      position: relative;
      margin-bottom: 1px;
      padding: 1.25rem 2rem 2.5rem;
      // background: rgba($g20-white, .15);
      background: linear-gradient(20deg, rgba($landing-cloud-gradient-left, .35), rgba($landing-cloud-gradient-right, .75) );

      h2 {
        font-size: 1.75rem;
        margin: 1rem 1.5rem .5rem;
      }

      a {
        color: $g20-white;
        font-weight: $medium;
        font-style: italic;

        &:hover {
          color: $b-pool;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// MEDIA QUERIES ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


@include media(large) {
  .cards {
    .card {
      &.full { padding: 3.5rem;}
      &.quarter { width: 48%; }
    }
  }
}

@include media(small) {
  .cards {
    .group { flex-direction: column; }
    .card{
      &.full { padding: 2.5rem;}
      &.quarter {
        width: 100%;
        max-width: 100%;
        padding: 1.25rem;
      }
      h1 { font-size: 2rem; }
    }
  }
}
