@font-face {
    font-family: 'Klavika-Light';
    src: url(../fonts/KlavikaLight-ItalicTF.otf);
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Klavika-Bold';
    src: url(../fonts/KlavikaBoldBoldItalic.otf);
    font-weight: 700;
    font-style: italic;
}

$klavika: 'Klavika-Light', 'Titillium Web', 'Roboto', sans-serif;

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Roboto, sans-serif;
  background: $body-bg;
}

* {
	box-sizing: border-box;
}

a {
  transition: all .2s;
}

.page-wrapper {
  display: flex;
  flex-grow: 1;
}

///  Styles for the placeholder homepage only viewalbe with running locally ///
.home-placeholder {
  max-width: 400px;
  margin: 20vh auto 0;
  color: $article-text;
  text-align:center;
  font-style:italic;

  .welcome {
    text-align:center;
    font-weight: bold;
    color: $article-heading;
    font-size: 1.1rem;
  }
  p {
    margin-top: 1rem;
    line-height: 1.25rem;
  }
  a {
    color: $article-link;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $article-link-hover;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// MEDIA QUERIES ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@include media(medium) {
  .page-wrapper {
    flex-direction: column;
  }
}
