.sidebar {
  display: block;
  flex-grow: 1;
  padding: 0 1em;
  max-width: 25%;

  &--search {
    position: relative;
    &:after {
      content: '\e905';
      display: block;
      font-family: 'icomoon';
      position: absolute;
      top: .15rem;
      right: .25rem;
      color: $article-text;
      font-size: 1.75rem;
    }

    input {
      background: $article-bg;
      border-radius: $border-radius;
      border: 1px solid $sidebar-search-border;
      padding: .5em 2.15rem .5rem .5rem;
      width: 100%;
      color: $article-text;
      transition-property: border, box-shadow;
      transition-duration: .2s;
      &:focus {
        outline: none;
        border: 1px solid $sidebar-search-highlight;
        box-shadow: 0px 0px 7px rgba($sidebar-search-highlight, .65);
        border-radius: $border-radius;
      }
      &::placeholder {
        font-family: 'Roboto';
        font-weight: 500;
        color: rgba($article-text, .35);
      }
    }
  }

  .contents-toggle {
    display: flex;
    justify-content: space-between;
    margin: .25rem 0;
    color: $sidebar-contents;
    font-weight: bold;
    font-style: italic;

    p { margin: .65rem 0 .65rem .25rem; }

    #contents-toggle-btn {
      margin-top: .2rem;
      height: 26px;
      width: 26px;
      display: inline-block;
      position: relative;

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        top: 13px;
        right: 5px;
        width: 16px;
        height: 2px;
        border-radius: 1px;
        background: $sidebar-contents;
        transition: all .3s;
      }

      &:before {
        transform: rotate(0deg);
      }
      &:after {
        transform: rotate(90deg)
      }

      &:hover {
        &:before, &:after {
          background: $sidebar-contents-hover;
        }
      }

      &.open {
        &:before { transform: rotate(180deg); }
        &:after { transform: rotate(180deg); }
      }
    }
  }

  #nav-tree {
    list-style: none;
    padding-left: 1.5rem;
    margin-bottom: 1rem;

    ul {
      list-style: none;
      padding-left: 2rem;
      border-left: 2px solid $nav-border;
    }

    li {
      margin-top: .5rem;
      position: relative;
      &:before {
        content: "";
        width: 4px;
        height: 4px;
        top: .45em;
        left: -1em;
        display: block;
        position: absolute;
        background: $nav-border;
      }
      ul {
        margin-left: -.95em;
      }
    }

    a {
      text-decoration: none;
      font-weight: 600;
      display: inline-block;
    }
    .nav-category > a {
      color: $nav-category;
      font-size: 1.1rem;
      &:hover {
        color: $nav-category-hover;
      }
    }
    .nav-item > a {
      color: $nav-item;
      &:hover {
        color: $nav-item-hover;
      }
    }

    .children {
      height: 0;
      overflow: hidden;
      &.open {
        height: auto;
      }
    }

    .children-toggle {
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: .05rem;
      left: -1.4rem;
      display: block;
      background: $nav-border;
      border-radius: 50%;

      &:before, &:after {
        content: "";
        position: absolute;
        display: block;
        background: $nav-toggle;
        transition: all .3s;
      }
      &:before {
        top: 4px;
        left: 7px;
        height: 8px;
        width: 2px;
      }
      &:after {
        top: 7px;
        left: 4px;
        height: 2px;
        width: 8px;
      }

      &:hover {
        background: $nav-toggle-bg-hover;
        &:before,
        &:after {
          background: $nav-toggle-hover;
        }
      }

      &.open {
        &:before { transform: rotate(90deg); }
        &:after { transform: rotate(180deg); }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// MEDIA QUERIES ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@include media(medium) {
  .sidebar {
    max-width: 100%;

    #nav-tree {
      max-height: 0;
      overflow: hidden;
      margin: 0;
      transition: max-height .2s ease-out;

      &.open {
        max-height: 2000px;
        transition: max-height .2s ease-out;
        overflow: auto;
        margin-bottom: 2rem;
      }
    }
  }
}

@include media(large_min) {
  .sidebar .contents-toggle {
    display: none;
  }
}
