.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  font-size: 3px;
  position: relative;
  border-top: 1.1em solid rgba($article-text, 0.1);
  border-right: 1.1em solid rgba($article-text, 0.1);
  border-bottom: 1.1em solid rgba($article-text, 0.1);
  border-left: 1.1em solid $b-dodger;
  transform: translateZ(0);
  animation: load8 .6s infinite linear;
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}