.article--content {
  .ui-message {
    display: flex;
    align-items: center;
    width: 375px;
    margin: 1rem 0 2rem;
    padding: .85rem 0;
    font-family: $rubik;
    font-size: .9rem;
    border-radius: 5px;
    color: $g20-white;

    .icon, .close {
      width: 13%;
      text-align: center;
      font-family: 'icomoon';
      font-size: 1.1rem;
    }

    .close:after {
      content: "\e932";
      opacity: .25;
    }

    .text {
      width: 74%;
      font-weight: $medium;
    }

    &.green {
      background: linear-gradient(45deg, #34bb56, #00a3fe);
      .icon:before { content: ""; }
    }

    &.blue {
      background: linear-gradient(45deg, rgb(190, 46, 228), rgb(0, 163, 255));
      .icon:before { content: "\e935"; }
    }

    &.red {
      background: linear-gradient(45deg, rgb(220, 78, 88), rgb(142, 31, 195));
      .icon:before { content: "\e920"; }
    }


  }
}
