<ul>
  <li>YYYY-MM-DD HH:mm:ss ZZ</li>
  <li>YYYY-MM-DD hh:mm:ss a ZZ</li>
  <li>DD/MM/YYYY HH:mm:ss.sss</li>
  <li>DD/MM/YYYY hh:mm:ss.sss a</li>
  <li>MM/DD/YYYY HH:mm:ss.sss</li>
  <li>MM/DD/YYYY hh:mm:ss.sss a</li>
  <li>YYYY/MM/DD HH:mm:ss</li>
  <li>YYYY/MM/DD hh:mm:ss a</li>
  <li>HH:mm</li>
  <li>hh:mm a</li>
  <li>HH:mm:ss</li>
  <li>hh:mm:ss a</li>
  <li>HH:mm:ss ZZ</li>
  <li>hh:mm:ss a ZZ</li>
  <li>HH:mm:ss.sss</li>
  <li>hh:mm:ss.sss a</li>
  <li>MMMM D, YYYY HH:mm:ss</li>
  <li>MMMM D, YYYY hh:mm:ss a</li>
  <li>dddd, MMMM D, YYYY HH:mm:ss</li>
  <li>dddd, MMMM D, YYYY hh:mm:ss a</li>
</ul>