<!-- KAPA AI Chat Widget with required and optional data attribute defaults -->
<script async
type = "text/javascript"
src = "https://widget.kapa.ai/kapa-widget.bundle.js"
data-website-id = "a02bca75-1dd3-411e-95c0-79ee1139be4d"
data-project-name = "InfluxDB"
data-project-color = "#020a47"
data-project-logo = "https://docs.influxdata.com/img/influx-logo-cubo-dark.png"
data-modal-disclaimer = "This custom AI can access all [documentation for InfluxDB, clients, and related tools](https://docs.influxdata.com). Information you submit is used in accordance with our [Privacy Policy](https://www.influxdata.com/legal/privacy-policy/).",
data-modal-example-questions = "Use Python to write data to InfluxDB 3,How do I query using SQL?,How do I use MQTT with Telegraf?"
data-modal-open-on-command-k = "true"
data-modal-example-questions-col-span = "8"
data-modal-full-screen-on-mobile = "true"
data-modal-header-padding = ".5rem"
data-modal-inner-position-bottom = "50px"
data-modal-inner-position-right = "0"
data-modal-inner-position-left = ""
data-modal-lock-scroll = "false"
data-modal-size = "500px"
data-modal-with-overlay = "false"
data-modal-inner-max-width = "500px"
data-modal-x-offset = ""
data-modal-y-offset = "20%"
data-user-analytics-fingerprint-enabled = "true"
></script>