{{ $productPathData := findRE "[^/]+.*?" .RelPermalink }}
{{ $product := index $productPathData 0 | default "none" }}
{{ $currentVersion := index $productPathData 1 | default "none" }}
{{ $isLatest := cond (eq .Kind "home") true (or (eq $currentVersion (replaceRE `\.[0-9x]+$` "" (index $.Site.Data.products $product).latest)) (eq $currentVersion "cloud") (eq $currentVersion "clustered") (eq $product "platform") (eq $product "resources")) }}

<meta name="latest" content="{{ cond $isLatest true false }}">
<meta name="last-modified" content="{{ .Lastmod }}">