{{ $jquery := resources.Get "js/jquery-3.5.0.min.js" }}
{{ $cookies := resources.Get "js/js.cookie.js" }}
{{ $themes := resources.Get "js/docs-themes.js" }}
{{ $sidebar := resources.Get "js/sidebar-toggle.js" }}
{{ $headerjs := slice $jquery $cookies $themes $sidebar | resources.Concat "js/header.bundle.js" }}

<script type="text/javascript" src="{{ $headerjs.RelPermalink }}" ></script>
<script type="text/javascript">set_style_from_cookie();</script>
<script type="text/javascript">set_sidebar_state();</script>
