<!-- Docsearch Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"/>

{{ $cssOptionsDark := (dict "targetPath" "dark-theme.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $cssOptionsLight := (dict "targetPath" "light-theme.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $cssSidebarOpen := (dict "targetPath" "sidebar-open.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $cssSidebarClose := (dict "targetPath" "sidebar-closed.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $cssAPIOverrides := (dict "targetPath" "api.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $PostCSSOptions := (dict "use" "autoprefixer" "noMap" false) }}

{{ $stylesLight := resources.Get "styles/styles-default.scss" | toCSS $cssOptionsLight | postCSS $PostCSSOptions | fingerprint }}
<link rel="stylesheet" title="light-theme" type="text/css" href="{{ $stylesLight.RelPermalink }}">

{{ $stylesDark := resources.Get "styles/styles-dark.scss" | toCSS $cssOptionsDark | postCSS $PostCSSOptions | fingerprint }}
<link rel="alternate stylesheet" title="dark-theme" type="text/css" href="{{ $stylesDark.RelPermalink }}">

{{ $stylesSidebarOpen := resources.Get "styles/sidebar-open.scss" | toCSS $cssOptionsDark | postCSS $PostCSSOptions | fingerprint }}
<link rel="stylesheet" title="sidebar-open" type="text/css" href="{{ $stylesSidebarOpen.RelPermalink }}">

{{ $stylesSidebarClosed := resources.Get "styles/sidebar-closed.scss" | toCSS $cssOptionsLight | postCSS $PostCSSOptions | fingerprint }}
<link rel="alternate stylesheet" title="sidebar-closed" type="text/css" href="{{ $stylesSidebarClosed.RelPermalink }}">

{{ $stylesAPIOverrides := resources.Get "styles/styles-api.scss" | toCSS $cssAPIOverrides | postCSS $PostCSSOptions }}
<link rel="stylesheet" type="text/css" href="{{ $stylesAPIOverrides.RelPermalink }}">
