// Colors specific to Telegraf LIGHT theme

// TopNav Colors
$api-topnav-link-hover: $r-curacao !default;
$api-dropdown-gradient: $grad-ScotchBonnet !default;

// Search
$api-sidebar-search-highlight: $r-curacao !default;

// Left Navigation
$api-nav-category: $r-curacao !default;
$api-nav-category-hover: $r-dreamsicle !default;
$api-nav-item-hover: $p-amethyst !default;
$api-nav-toggle-bg-hover: $p-amethyst !default;
$api-nav-active: $p-amethyst !default;

// Article Content
$api-article-heading: $r-curacao !default;
$api-article-heading-alt: $g5-pepper !default;
$api-article-link: $r-curacao !default;
$api-article-link-hover: $p-amethyst !default;

// Article Tables
$api-article-table-header: $grad-Miyazakisky !default;

// Article Buttons
$api-btn-gradient: $grad-red !default;
$api-btn-gradient-hover: $grad-red-light !default;

// Article Tabs for tabbed content
$api-article-tab-active-text: $g20-white !default;

// Homepage cards
$api-home-card-gradient: $grad-ScotchBonnet !default;
