// Colors specific to Chronograf LIGHT theme

// TopNav Colors
$chronograf-topnav-link-hover: $br-pulsar !default;
$chronograf-dropdown-gradient: $grad-OminousFog !default;

// Search
$chronograf-sidebar-search-highlight: $br-pulsar !default;

// Left Navigation
$chronograf-nav-category: $br-pulsar !default;
$chronograf-nav-category-hover: $br-magenta !default;
$chronograf-nav-item-hover: $br-magenta !default;
$chronograf-nav-toggle-bg-hover: $br-magenta !default;
$chronograf-nav-active: $br-magenta !default;

// Article Content
$chronograf-article-heading: $br-pulsar !default;
$chronograf-article-heading-alt: $g5-pepper !default;
$chronograf-article-link: $br-pulsar !default;
$chronograf-article-link-hover: $b-dodger !default;

// Article Tables
$chronograf-article-table-header: $grad-MilkyWay !default;

// Article Buttons
$chronograf-btn-gradient: $grad-MilkyWay !default;
$chronograf-btn-gradient-hover: $grad-PurpleFog !default;

// Article Tabs for tabbed content
$chronograf-article-tab-active-text: $g20-white !default;

// Homepage cards
$chronograf-home-card-gradient: $grad-OminousFog !default;
