// Colors specific to Kapacitor LIGHT theme

// TopNav Colors
$kapacitor-topnav-link-hover: $b-dodger !default;
$kapacitor-dropdown-gradient: $grad-GarageBand !default;

// Search
$kapacitor-sidebar-search-highlight: $gr-viridian !default;

// Left Navigation
$kapacitor-nav-category: $gr-viridian !default;
$kapacitor-nav-category-hover: $p-star !default;
$kapacitor-nav-item-hover: $b-dodger !default;
$kapacitor-nav-toggle-bg-hover: $p-star !default;
$kapacitor-nav-active: $p-star !default;

// Article Content
$kapacitor-article-heading: $gr-viridian !default;
$kapacitor-article-heading-alt: $g7-graphite !default;
$kapacitor-article-link: $gr-viridian !default;
$kapacitor-article-link-hover: $b-dodger !default;

// Article Tables
$kapacitor-article-table-header: $grad-GarageBand !default;

// Article Buttons
$kapacitor-btn-gradient: $grad-green-shade !default;
$kapacitor-btn-gradient-hover: $grad-green !default;

// Article Tabs for tabbed content
$kapacitor-article-tab-active-text: $g20-white !default;

// Homepage cards
$kapacitor-home-card-gradient: $grad-GarageBand !default;
