// Colors specific to Telegraf LIGHT theme

// TopNav Colors
$telegraf-topnav-link-hover: $r-curacao !default;
$telegraf-dropdown-gradient: $grad-ScotchBonnet !default;

// Search
$telegraf-sidebar-search-highlight: $r-curacao !default;

// Left Navigation
$telegraf-nav-category: $r-curacao !default;
$telegraf-nav-category-hover: $r-dreamsicle !default;
$telegraf-nav-item-hover: $p-amethyst !default;
$telegraf-nav-toggle-bg-hover: $p-amethyst !default;
$telegraf-nav-active: $p-amethyst !default;

// Article Content
$telegraf-article-heading: $r-curacao !default;
$telegraf-article-heading-alt: $g5-pepper !default;
$telegraf-article-link: $r-curacao !default;
$telegraf-article-link-hover: $p-amethyst !default;

// Article Tables
$telegraf-article-table-header: $grad-Miyazakisky !default;

// Article Buttons
$telegraf-btn-gradient: $grad-red !default;
$telegraf-btn-gradient-hover: $grad-red-light !default;

// Article Tabs for tabbed content
$telegraf-article-tab-active-text: $g20-white !default;

// Homepage cards
$telegraf-home-card-gradient: $grad-ScotchBonnet !default;
