{{ $cloudName := .Site.Data.products.cloud.name }}
{{ $cloudNameShort := .Site.Data.products.cloud.shortname }}
<hr/>
<div class="feedback block">
  <h4 id="cloud-support">{{ $cloudName }} Support</h4>
  <p>
    The following resources are available when you need help with {{ $cloudNameShort }}:
  </p>
  <h5 id="free-plan">Free Plan</h5>
  <ul>
    <li>Reach out in the <a href="https://community.influxdata.com/">InfluxData Community</a>.</li>
  </ul>
  <h5 id="usage-based-plan">Usage-based Plan</h5>
  <ul>
    <li>Reach out in the <a href="https://community.influxdata.com/">InfluxData Community</a>.</li>
    <li>Contact <a href="mailto:support@influxdata.com" target="_blank">InfluxData Support</a>.</li>
  </ul>
</div>
