<hr/>
<div class="feedback block">
  <h4 id="bug-reports-and-feedback">Bug Reports and Feedback</h4>
  <p>
    Thank you for being willing to help test InfluxDB v2.0 beta!
    Feedback and bug reports are welcome and encouraged both for InfluxDB and this documentation.
    Submit feedback using one of the following methods:
  </p>
  <ul>
    <li><a href="https://community.influxdata.com/c/influxdb2" target="_blank">Post in the InfluxData Community</a></li>
    <li>In the <strong>InfluxDB UI</strong>, click <strong class="white-space:nowrap"><span class="icon-ui-nav-chat" style="font-size:1.25rem;margin:0 .25rem 0;"></span> Feedback</strong> in the left navigation bar.</li>
    <li>Submit <strong>documentation issues</strong> to the <a href="https://github.com/influxdata/docs-v2" target="_blank">InfluxDB 2.0 documentation repository</a>.</li>
    <li>Submit <strong>InfluxDB issues</strong> to the <a href="https://github.com/influxdata/influxdb" target="_blank">InfluxDB repository</a>.</li>
  </ul>
</div>
