<hr/>
<div class="feedback block">
  <h4 id="bug-reports-and-feedback">Support and feedback</h4>
  <p>
    Thank you for being part of our community!
    We welcome and encourage your feedback and bug reports for InfluxDB and this documentation.
    To find support or submit feedback, the following resources are available:
  </p>
  <ul>
    <li><a href="https://community.influxdata.com/c/influxdb2" target="_blank">Post in the InfluxData Community</a>.</li>
    <li>Submit <strong>documentation issues</strong> to the <a href="https://github.com/influxdata/docs-v2" target="_blank">InfluxDB 2.0 documentation repository</a>.</li>
    <li>Submit <strong>InfluxDB issues</strong> to the <a href="https://github.com/influxdata/influxdb" target="_blank">InfluxDB repository</a>.</li>
  </ul>
  <p>
    For our <strong>InfluxDB Cloud</strong> customers, <a href="mailto:support@influxdata.com" target="_blank">InfluxData Support</a> is also available.
  </p>
</div>
