<!-- This partial is no longer used but may be repurposed later for other InfluxDB products -->
{{ $productPathData := findRE "[^/]+.*?" .RelPermalink }}
{{ $product := index $productPathData 0 }}
{{ $version := index $productPathData 1 }}
{{ $productKey := cond (eq $product "influxdb3") (print "influxdb3_" (replaceRE "-" "_" $version)) $product }}
{{ $productData := index $.Site.Data.products $productKey }}
{{ $displayName := $productData.altname }}
{{ $earlyAccessList := slice "influxdb3/core" "influxdb3/enterprise" }}

{{ if in $earlyAccessList (print $product "/" $version )}}
<div class="block alpha">
  <div class="alpha-content">
    <h4>{{ $displayName }} is in Public Alpha</h4>
    <p>
      {{ $displayName }} is in public alpha and available for testing and feedback,
      but is <strong>not meant for production use</strong>.
      Both the product and this documentation are works in progress.
      We welcome and encourage your input about your experience with the alpha and 
      invite you to <strong>join our public channels</strong> for updates and to share feedback.
    </p>
    <div class="expand-wrapper">
      <div class="expand" id="#alpha-expecations">
        <p class="expand-label">
          <span class="expand-toggle"></span><span>Alpha expectations and recommendations</span>
        </p>
        <div class="expand-content" style="display: none;" >
          <ul>
            <li>
              During the alpha period, we may make breaking changes that require
              you to delete your data and start over.
              If the data you're using is important, keep backup copies in other
              places.
            </li>
            <li>
              During the alpha period, we generate new builds on every merge
              into into the InfluxDB <code>main</code> branch. Changes are
              frequent and relevant updates are posted to our public channels.
            </li>
          </ul>
        </div>
      </div>
      <div class="expand" id="#alpha-feedback-channels">
        <p class="expand-label">
          <span class="expand-toggle"></span><span>Join our public channels</span>
        </p>
        <div class="expand-content" style="display: none;" >
          <ul class="feedback-channels">
            <li><a href="https://discord.gg/9zaNCW2PRT" target="_blank" class="discord">InfluxDB Discord Server <em style="opacity:.5">(Preferred)</em></a></li>
            <li><a href="https://community.influxdata.com" target="_blank" class="community">InfluxData Community</a></li>
            <li><a href="https://influxdata.com/slack" target="_blank" class="slack">InfluxDB Community Slack</a></li>
            <li><a href="https://reddit.com/r/influxdb" target="_blank" class="reddit">InfluxDB Subreddit</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}