<!-- This partial is no longer used but may be repurposed later for other InfluxDB products -->
{{ $productPathData := findRE "[^/]+.*?" .RelPermalink }}
{{ $product := index $productPathData 0 }}
{{ $version := index $productPathData 1 }}
{{ $productKey := cond (eq $product "influxdb3") (print "influxdb3_" (replaceRE "-" "_" $version)) $product }}
{{ $productData := index $.Site.Data.products $productKey }}
{{ $displayName := $productData.altname }}
{{ $earlyAccessList := slice "influxdb3/core" "influxdb3/enterprise" }}

{{ if in $earlyAccessList (print $product "/" $version )}}
<div class="block beta">
  <div class="beta-content">
    <h4>{{ $displayName }} is in Public Beta</h4>
    <p>
      {{ $displayName }} is in public beta and available for testing and feedback,
      but is <strong>not meant for production use yet</strong>.
      Both the product and this documentation are works in progress.
      We welcome and encourage your input about your experience with the beta and 
      invite you to <strong>join our public channels</strong> for updates and to
      share feedback.
    </p>
    <div class="expand-wrapper">
      <div class="expand" id="beta-expecations">
        <p class="expand-label">
          <span class="expand-toggle"></span><span>Beta expectations and recommendations</span>
        </p>
        <div class="expand-content" style="display: none;" >
          <ul>
            <li>
              <strong>No more breaking changes</strong> <br/>
              While in beta, we will no longer make breaking changes to the
              {{ $displayName }} API. Any updates to file formats or organization
              will have in-place upgrade paths for beta builds. Use the Beta
              for testing and validation purposes, knowing that when you upgrade,
              your data will come with it, and your APIs will all work the same.
            </li>
            <li>
              <strong>Weekly releases</strong> <br/>
              While in beta, we’ll be making weekly {{ $displayName }} releases
              and providing release notes to make it easy to track updates. 
            </li>
            <li>
              <strong>Processing engine is still in alpha</strong> <br/>
              The embedded Python VM that is the processing engine should still
              be considered alpha software. It is fully functional and allows
              users to create and share plugins that trigger off of writes, a
              schedule, or requests to an HTTP endpoint. However, we want to
              continue iterating on user feedback and making changes where they
              make sense. While we don't anticipate any breaking changes,
              we're not yet committed to the current API as the long term
              support target. Feedback we get during this phase will be important
              to fine-tune the API for our users' needs.
            </li>
            <li>
              <strong>Object store file organization and format</strong> <br/>
              {{ $displayName }} supports a "diskless" architecture, keeping all
              state in object storage. The specific file organization and format
              are <em>not</em> part of a stable API. Only the HTTP and Apache
              Arrow Flight APIs are considered stable.
            </li>
          </ul>
        </div>
      </div>
      <div class="expand" id="beta-feedback-channels">
        <p class="expand-label">
          <span class="expand-toggle"></span><span>Join our public channels</span>
        </p>
        <div class="expand-content" style="display: none;" >
          <ul class="feedback-channels">
            <li><a href="https://discord.gg/9zaNCW2PRT" target="_blank" class="discord">InfluxDB Discord Server <em style="opacity:.5">(Preferred)</em></a></li>
            <li><a href="https://community.influxdata.com" target="_blank" class="community">InfluxData Community</a></li>
            <li><a href="https://influxdata.com/slack" target="_blank" class="slack">InfluxDB Community Slack</a></li>
            <li><a href="https://reddit.com/r/influxdb" target="_blank" class="reddit">InfluxDB Subreddit</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}