<!-- This partial is no longer used but may be repurposed later for other InfluxDB products -->
{{ $productPathData := split .RelPermalink "/" }}
{{ $product := index $productPathData 1 }}
{{ $version := index $productPathData 2 }}
{{ $productKey := cond (eq $product "influxdb3") (print "influxdb3_" (replaceRE "-" "_" $version)) $product }}
{{ $productData := index $.Site.Data.products $productKey }}
{{ $displayName := $productData.name }}
{{ $earlyAccessList := slice "influxdb3/explorer" }}

{{ if in $earlyAccessList (print $product "/" $version )}}
<div class="block beta">
  <div class="beta-content">
    <h4>{{ $displayName }} is in Public Beta</h4>
    <p>
      {{ $displayName }} is in public beta and available for testing and feedback,
      but is <strong>not meant for production use yet</strong>.
      Both the product and this documentation are works in progress.
      We welcome and encourage your input about your experience with the beta and 
      invite you to <strong>join our public channels</strong> for updates and to
      share feedback.
    </p>
    <div class="expand-wrapper">
      <div class="expand" id="beta-feedback-channels">
        <p class="expand-label">
          <span class="expand-toggle"></span><span>Join our public channels</span>
        </p>
        <div class="expand-content" style="display: none;" >
          <ul class="feedback-channels">
            <li><a href="https://discord.gg/9zaNCW2PRT" target="_blank" class="discord">InfluxDB Discord Server <em style="opacity:.5">(Preferred)</em></a></li>
            <li><a href="https://community.influxdata.com" target="_blank" class="community">InfluxData Community</a></li>
            <li><a href="https://influxdata.com/slack" target="_blank" class="slack">InfluxDB Community Slack</a></li>
            <li><a href="https://reddit.com/r/influxdb" target="_blank" class="reddit">InfluxDB Subreddit</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}