{{ $enterpriseName := .Site.Data.products.enterprise.name }}
{{ $enterpriseLink := .Site.Data.products.enterprise.link }}
{{ if ( $.Params.enterprise_all ) }}
  <div class="enterprise-msg block"  id="enterprise-msg">
    <p>
      The features and functionality discussed on this page are unique to <a href="{{ $enterpriseLink }}" target="_blank">{{ $enterpriseName }}</a>.
    </p>
  </div>
{{ else if ( $.Params.enterprise_some ) }}
  <div class="enterprise-msg block flex" id="enterprise-msg">
    <div>
      <span class="enterprise-flag"></span>
    </div>
    <div>
      <p>
        This page includes features and functionality unique to <a href="{{ $enterpriseLink }}" target="_blank">{{ $enterpriseName }}</a>.
      </p>
    </div>
  </div>
{{ end }}
