{{ if ( $.Params.enterprise_all ) }}
  <div id="enterprise-msg">
    <p>
      The features and functionality discussed on this page are unique to the Enterprise edition of InfluxDB.
      <a href="#">Learn more about InfluxDB Enterprise</a>.
    </p>
  </div>
{{ else if ( $.Params.enterprise_some ) }}
  <div id="enterprise-msg">
    <div>
      <span class="enterprise-flag"></span>
    </div>
    <div>
      <p>
        This page includes features and functionality unique to the Enterprise edition of InfluxDB.
        <a href="#">Learn more about InfluxDB Enterprise</a>.
      </p>
    </div>
  </div>
{{ end }}
