{{ $productPathData := findRE "[^/]+.*?" .RelPermalink }}
{{ $product := index $productPathData 0 }}
{{ $version := index $productPathData 1 }}
{{ $productKey := cond (eq $product "influxdb3") (print "influxdb3_" (replaceRE "-" "_" $version)) $product }}
{{ $productNamespace := cond (eq $product "influxdb3") "influxdb" $product }}
{{ $productName := (index .Site.Data.products $productKey).name }}
{{ $supportBlacklist := slice "chronograf" "kapacitor" }}

{{ if .File }}
  {{ .Scratch.Set "pageGithubLink" (print "https://github.com/influxdata/docs-v2/edit/master/content/" .File.Path) }}
  {{ if .Params.Source }}
    {{ .Scratch.Set "pageGithubLink" (print "https://github.com/influxdata/docs-v2/edit/master/content" .Params.source) }}
  {{ end }}
{{ else }}
  {{ .Scratch.Set "pageGithubLink" (print "https://github.com/influxdata/docs-v2/edit/master/content/") }}
{{ end }}
{{ .Scratch.Set "productGithubLink" (print "https://github.com/influxdata/" $productNamespace "/issues/new/choose/") }}
{{ $pageGithubLink := .Scratch.Get "pageGithubLink" }}
{{ $productGithubLink := .Scratch.Get "productGithubLink" }}

{{ $docsIssueLinkBody := print `_Describe the issue here._

%23%23%23%23%23 Relevant URLs
- ` (.RelPermalink | absURL) `
- _Provide other relevant URLs (project issues, community threads, etc.)_
` }}
{{ $pageGithubIssueLink := print "https://github.com/influxdata/docs-v2/issues/new?body=" $docsIssueLinkBody }}

<hr/>
<div class="helpful">
  <p>Was this page helpful?</p>
  <form onSubmit="return submitFeedbackForm('pagefeedback')" id="pagefeedback">
    <input type="text" name="fname" class="bowlofsweets" placeholder="First Name">
    <label class="radio-btns" id="helpful"><input  type="radio" name="helpful" value=true />Yes</label>
    <label class="radio-btns" id="not-helpful"><input  type="radio" name="helpful" value=false />No</label>
  </form>
  <div id="thank-you">
    <p>Thank you for your feedback!</p>
  </div>
  <div class="loader-wrapper">
    <div class="loader"></div>
  </div>
</div>
<hr/>
<div class="feedback block">
  <div class="support">
    <h4 id="bug-reports-and-feedback">Support and feedback</h4>
    <p>
      Thank you for being part of our community!
      We welcome and encourage your feedback and bug reports for {{ $productName }} and this documentation.
      To find support, use the following resources:
    </p>
    <ul>
      {{ if and (eq $product "influxdb3") (or (eq $version "core") (eq $version "enterprise") (eq $version "explorer")) }}
        <li><a class="discord" href="https://discord.gg/9zaNCW2PRT" target="_blank"><strong>InfluxDB Discord Server</strong> <em style="opacity:.5">(Preferred)</em></a></li>
        <li><a class="slack" href="https://influxdata.com/slack" target="_blank">InfluxDB Community Slack</a></li>
      {{ else }}
        <li><a class="slack" href="https://influxdata.com/slack" target="_blank"><strong>InfluxDB Community Slack</strong>  <em style="opacity:.5">(Preferred)</em></a></li>
        <li><a class="discord" href="https://discord.gg/9zaNCW2PRT" target="_blank">InfluxDB Discord Server</a></li>
      {{ end }}
      <li><a class="community" href="https://community.influxdata.com/" target="_blank">InfluxData Community</a></li>
      <li><a class="reddit" href="https://reddit.com/r/influxdb" target="_blank">InfluxDB Subreddit</a></li>
    </ul>
    {{ if not (in $supportBlacklist $product) }}
      <p><strong>Customers with an annual or support contract</strong> can <a href="https://support.influxdata.com/">contact InfluxData Support</a>.
         {{ if eq $version "enterprise" }}<strong>Customers using a trial license</strong> can email <a href="mailto:trial@influxdata.com">trial@influxdata.com</a> for assistance.</p>{{ end }}

    {{ end }}
  </div>
  <div class="actions">
    <a href="{{ $pageGithubLink }}" class="btn edit" target="_blank">Edit this page</a>
    <a href="{{ $pageGithubIssueLink }}" class="btn issue" target="_blank">Submit docs issue</a>
    <a href="{{ $productGithubLink }}" class="btn issue" target="_blank">Submit {{ $productName }} issue</a>
  </div>
</div>


