{{ $currentVersion := index (findRE "[^/]+.*?" .RelPermalink) 1 }}
{{ $expRiskURL := print "/flux/v0/stdlib/experimental/#experimental-packages-are-subject-to-change" }}
{{ $expPath := print "/flux/v0/stdlib/experimental/" }}

{{ if in .RelPermalink $expPath }}
  {{ if not (eq .RelPermalink $expPath) }}
    {{ if eq .Kind "page" }}
      {{ $name := replaceRE " function" "" .Title }}
      <div class="important block">
        <p>
          <code>{{ $name | safeHTML }}</code> is {{ if in $name "experimental" }}{{ else }}experimental and{{ end }} <a href="{{ $expRiskURL }}">subject to change at any time</a>.
        </p>
      </div>
    {{ else if eq .Kind "section" }}
      <div class="important block">
        {{ $packageTitle := default .Title .Params.list_title }}
        {{ $packageName := replaceRE `^(.*)( package)` "<code>$1</code>$2" $packageTitle }}
        <p>
          The {{ $packageName | safeHTML }} is experimental and <a href="{{ $expRiskURL }}">subject to change at any time</a>.
        </p>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
