<!-- This partial is no longer used but may be repurposed later for other InfluxDB products -->
{{ $productPathData := split .RelPermalink "/" }}
{{ $product := index $productPathData 0 }}
{{ $version := index $productPathData 1 }}
{{ $productKey := cond (eq $product "influxdb3") (print "influxdb3_" (replaceRE "-" "_" $version)) $product }}
{{ $productData := index $.Site.Data.products $productKey }}
{{ $displayName := $productData.altname }}
{{ $earlyAccessList := slice "influxdb3/core" "influxdb3/enterprise" }}

{{ if in $earlyAccessList (print $product "/" $version )}}
<div class="block important">
  <h4>{{ $displayName }} is currently in alpha</h4>
  <p>
    <strong>{{ $displayName }}</strong> is currently only available to a limited group of InfluxData customers.
    If interested in being part of the limited access group, please
    <a href="{{ $productData.link }}" target="_blank">contact the InfluxData Sales team</a>.
  </p>
</div>
{{ end }}