<!-- This partial is no longer used by may be repurposed later for other InfluxDB products -->
{{ $productPathData := findRE "[^/]+.*?" .RelPermalink }}
{{ $product := index $productPathData 0 }}
{{ $version := index $productPathData 1 }}
{{ $productData := index $.Site.Data.products (print $product "_" (replaceRE "-" "_" $version)) }}
{{ $earlyAccessList := slice " " }}

{{ if in $earlyAccessList (print $product "/" $version )}}
<div class="block cloud">
  <h4>Limited availability</h4>
  <p>
    <strong>{{ $productData.name }}</strong> is currently only available to a limited group of InfluxData customers.
    If interested in being part of the limited access group, please
    <a href="{{ $productData.link }}" target="_blank">contact the InfluxData Sales team</a>.
  </p>
</div>
{{ end }}