{{ if .Params.products }}
<p class="product-tags">
    {{ range .Params.products }}
      {{ $product := . }}
      {{ $scratch := newScratch }}
      {{ if eq $product "oss"}}{{ $scratch.Set "product-tag" "OSS" }}{{ end }}
      {{ if eq $product "cloud"}}{{ $scratch.Set "product-tag" "Cloud" }}{{ end }}
      {{ if eq $product "enterprise"}}{{ $scratch.Set "product-tag" "Enterprise" }}{{ end }}
      <span class="{{ . }}">InfluxDB {{ $scratch.Get "product-tag"}} only</span>
    {{ end }}
</p>
{{ end }}
