{{ $scratch := newScratch }}
{{ if .Params.related }}
  <div class="related">
    <h4 id="related">Related</h4>
    <ul>
    {{ range .Params.related }}
      <!-- If an external link or API link -->
      {{ if or (in . "http") (in . "/v2.0/api") (in . ", ")}}
        {{ $link := replaceRE `\,\s(.*)$` "" . }}
        {{ $title := replaceRE `^(\S*\,\s)` "" . }}
        {{ $target := cond (in . "http") "_blank" "" }}
        <li><a href="{{ $link }}" target="{{ $target }}">{{ $title }}</a></li>

      <!-- If path is using the latest shortcode -->
      {{ else if (in . "{{< latest") }}
        {{ $product := replaceRE `[ \"]` "" (index (findRE ` \"\w*\"` .) 0) }}
        {{ $majorVersion := replaceRE `[ \"]` "" (index (findRE ` \"\w*\"` .) 1) }}
        {{ $minorVersions := (index $.Site.Data.products $product).versions }}

        {{ $scratch.Set "latestVersion" (index $.Site.Data.products $product).latest }}
        {{ if gt (len $majorVersion) 0 }}
          {{ if eq $majorVersion "v1" }}
            {{ $scratch.Set "latestVersion" (index (last 1 (findRE `v1\.[0-9]{1,2}` (delimit $minorVersions " "))) 0) }}
          {{ else if eq $majorVersion "v2" }}
            {{ $scratch.Set "latestVersion" (index (last 1 (findRE `v2\.[0-9]{1,2}` (delimit $minorVersions " "))) 0) }}
          {{ end }}
        {{ end }}

        {{ $productLatestVersion := $scratch.Get "latestVersion" }}
        {{ $replaceLatest := replaceRE `\{\{\< latest \".*\" \>\}\}` (print $product "/" $productLatestVersion) . }}

        {{ $scratch.Set "title" ""}}
        {{ if in $replaceLatest "," }}
          {{ $scratch.Set "title" (replaceRE `^.+?, ` "" $replaceLatest) }}
        {{ end }}

        {{ $link := replaceRE `\,\s(.*)$` "" $replaceLatest }}
        {{ $title := $scratch.Get "title" }}

        {{ if gt (len $title) 0 }}
          <li><a href="{{ $link }}">{{ $title }}</a></li>
        {{ else }}
          {{ $sanitizedPath := replaceRE `\/$` "" (print $replaceLatest) }}
          {{ with $.Page.GetPage $sanitizedPath }}
            <li><a href="{{ .RelPermalink }}" >{{ .Title }}</a></li>
          {{ end }}
        {{ end }}

      <!-- Automatically get page title and link from path -->
      {{ else }}
        {{ $sanitizedPath := replaceRE `\/$` "" (print .) }}
        {{ with $.Page.GetPage $sanitizedPath }}
          <li><a href="{{ .RelPermalink }}" >{{ .Title }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
    </ul>
  </div>
{{ end }}
