<!-- This partial is no longer used but may be repurposed later for other InfluxDB products -->
{{ $productPathData := split .RelPermalink "/" }}
{{ $product := index $productPathData 1 }}
{{ $version := index $productPathData 2 }}
{{ $isInfluxDB3 := eq $product "influxdb3" }}
{{ $isTelegrafController := and (eq $product "telegraf") (eq $version "controller") }}
{{ .Store.Set "productKey" $product }}
{{ if $isInfluxDB3 }}
  {{ .Store.Set "productKey" (print "influxdb3_" (replaceRE "-" "_" $version)) }}
{{ else if $isTelegrafController }}
  {{ .Store.Set "productKey" "telegraf_controller" }}
{{ end }}
{{ $productKey := .Store.Get "productKey" }}
{{ $productData := index $.Site.Data.products $productKey }}
{{ $displayName := $productData.name }}
{{ $productPathWhitelist := slice "telegraf/controller" }}

{{ if in $productPathWhitelist (print $product "/" $version )}}
<div class="block special-state">
  <div class="state-content">
    <h4 id="telegraf-controller-public-beta">{{ $displayName }} is in Public Beta</h4>
    <p>
      {{ $displayName }} is in public beta and will be part of the future Telegraf Enterprise offering.
      While in beta, {{ $displayName }} is <strong>not meant for production use</strong>.
      The {{ $displayName}} documentation is a work in progress, and we are actively
      working to improve it. If you have any questions or suggestions, please
      <a href="https://github.com/influxdata/docs-v2/issues/new?labels=Telegraf%20Controller">submit an issue</a>.
      We welcome any and all contributions.
    </p>
    <div class="expand-wrapper">
      <div class="expand" id="beta-expecations">
        <p class="expand-label">
          <span class="expand-toggle"></span><span>Beta expectations</span>
        </p>
        <div class="expand-content" style="display: none;" >
          <ul>
            <li>
              <strong>No configuration or agent limits</strong> <br/>
              While in beta, {{ $displayName }} doesn't place any limits on the
              number of configurations you can store or the number of Telegraf
              agents you can track. However, upon being generally available,
              the free distribution of {{ $displayName }} will have limits
              introduced, with the option to increase limits through a
              Telegraf Enterprise license.
            </li>
            <li>
              <strong>Potential breaking changes</strong> <br/>
              While in beta, we will do our best to no longer make breaking
              changes to {{ $displayName }}, however, they may be necessary.
              The majority of changes we make will be additive and non-breaking,
              and include any necessary migrations. When we do need to make
              breaking changes, we will do our best to communicate them clearly
              and in advance to minimize disruption.
            </li>
            <li>
              <strong>Flexible release schedule</strong> <br/>
              While in beta, we will continue to create new releases of
              {{ $displayName }}, but likely at irregular intervals. We will provide
              <a href="/telegraf/controller/reference/release-notes/">Telegraf Controller release notes</a>
              to make it easy to track updates.
            </li>
          </ul>
        </div>
      </div>
      <div class="expand" id="beta-provide-feedback">
        <p class="expand-label">
          <span class="expand-toggle"></span><span>Provide beta feedback</span>
        </p>
        <div class="expand-content" style="display: none;" >
          <ul>
            <li>Use the <strong>Feedback</strong> feature in the Telegraf Controller UI.</li>
            <li><a href="https://influxdata.com/slack" target="_blank">Join the InfluxDB Community Slack</a> and post feedback in the <strong>#telegraf-enterprise-alpha</strong> channel.</li>
            <li>Post feedback in the <a href="https://community.influxdata.com" target="_blank">InfluxData Community</a>.</li>
          </ul>
        </div>
      </div>
      <div class="expand" id="public-channels">
        <p class="expand-label">
          <span class="expand-toggle"></span><span>Join our public channels</span>
        </p>
        <div class="expand-content" style="display: none;" >
          <ul class="feedback-channels">
            <!-- <li><a href="https://discord.gg/9zaNCW2PRT" target="_blank" class="discord">InfluxDB Discord Server <em style="opacity:.5">(Preferred)</em></a></li> -->
            <li><a href="https://influxdata.com/slack" target="_blank" class="slack">InfluxDB Community Slack <em style="opacity:.5">(Preferred)</em></a></li>
            <li><a href="https://community.influxdata.com" target="_blank" class="community">InfluxData Community</a></li>
            <li><a href="https://reddit.com/r/influxdb" target="_blank" class="reddit">InfluxDB Subreddit</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}