{{ range .Site.Data.influxdb_urls.cloud.providers }}
  {{ $scratch := newScratch }}
  {{ $scratch.Set "title" .name }}
  {{ if .short_name }}
    {{ $scratch.Set "title" (print .name " (" .short_name ")")}}
  {{ end }}
  {{ $title := $scratch.Get "title" }}
  {{ $titleID := anchorize $title }}
  <h2 id="{{ $titleID }}">{{ $title }}</h2></strong>
  <table>
    <thead>
      <th align="left">Region</th>
      <th align="left">URL</th>
    </thead>
    {{ range .regions }}
      <tr>
        <td>{{ .name }}</td>
        <td><a href="{{ .url }}">{{ .url }}</a></td>
      </tr>
    {{ end }}
  </table>
{{ end }}
