{{- $productData := partial "product/get-data.html" . -}}
{{- $version := .Page.Params.version -}}
{{- $keep := .Get "keep" | default false -}}
{{- $keepClass := cond ( $keep ) " keep" "" -}}
{{- $noSpan := .Get "nospan" | default false -}}
{{- $versionText := "" -}}
{{- if $productData.version_label -}}
  {{- $versionText = $productData.version_label -}}
{{- else if gt (len (findRE `^v` $version)) 0 -}}
  {{- $latestPatch := index $productData.latest_patches $version -}}
  {{- $versionText = replaceRE `\.[0-9]+$` "" $latestPatch -}}
{{- end -}}
{{- if $noSpan -}}{{- $versionText -}}{{- else -}}
<span class="current-version{{ $keepClass }}">{{- $versionText -}}</span>{{- end -}}
