{{ $uniqueID := .Get 1 | default "" }}
{{ $expandLabel := .Get 0 }}
{{ $expandID := cond (eq $uniqueID "") ($expandLabel | anchorize) (print ($expandLabel | anchorize) "-" $uniqueID)}}
<div class="expand" id="{{ $expandID }}">
  <a class="expand-link" href="#{{ $expandID }}"><span class="cf-icon Link"></span></a>
  <p class="expand-label">
      <span class="expand-toggle"></span><span>{{ $expandLabel | markdownify | safeHTML }}</span>
  </p>
  <div class="expand-content" style="display: none;" >
      {{ .Inner }}
  </div>
</div>
