{{ $section := (index (findRE "[^/]+.*?" .Page.RelPermalink) 0) }}
{{ $currentVersion := (index (findRE "[^/]+.*?" .Page.RelPermalink) 1) }}
{{ $filters := .Get "filters" | default "" }}
{{ $filterArr := split $filters ", "}}
{{ $tagTaxonomy := print $section "/" $currentVersion "/tags" }}

<ul>
{{ range where $.Site.RegularPages.ByTitle "Section" $section }}
  {{ if ne $filters "" }}
    {{ if gt (len (intersect $filterArr (index .Page.Params $tagTaxonomy))) 0}}
      {{ if and (in .RelPermalink (print $section "/" $currentVersion "/")) (in .Title "() function")  }}
        {{ $title := replaceRE `\ function` "" .Title }}
        <li>
          <a href="{{ .RelPermalink }}">{{ $title }}</a>
        </li>
      {{ end }}
    {{ end }}
  {{ else }}
    {{ if and (in .RelPermalink (print $section "/" $currentVersion "/")) (in .Title "() function")  }}
      {{ $title := replaceRE `\ function` "" .Title }}
      <li>
        <a href="{{ .RelPermalink }}">{{ $title }}</a>
      </li>
    {{ end }}
  {{ end }}
{{ end }}
</ul>