{{ $navIcon := lower (.Get 0) | default "influx" }}
{{ if or (eq $navIcon "admin") (eq $navIcon "influx") }}
  {{ .Scratch.Set "icon" "influx-icon" }}
  {{ .Scratch.Set "title" "username (org-name)" }}
{{ else if or (eq $navIcon "data-explorer") (eq $navIcon "data explorer") }}
  {{ .Scratch.Set "icon" "data-explorer" }}
  {{ .Scratch.Set "title" "Data Explorer" }}
{{ else if eq $navIcon "dashboards" }}
  {{ .Scratch.Set "icon" "dashboards" }}
  {{ .Scratch.Set "title" "Dashboards" }}
{{ else if eq $navIcon "tasks" }}
  {{ .Scratch.Set "icon" "calendar" }}
  {{ .Scratch.Set "title" "Tasks" }}
{{ else if or (eq $navIcon "monitor") (eq $navIcon "alerts") (eq $navIcon "bell") }}
  {{ .Scratch.Set "icon" "bell" }}
  {{ .Scratch.Set "title" "Monitoring & Alerting" }}
{{ else if or (eq $navIcon "disks") (eq $navIcon "load data") (eq $navIcon "load-data") }}
  {{ .Scratch.Set "icon" "disks-nav" }}
  {{ .Scratch.Set "title" "Load Data" }}
{{ else if eq $navIcon "settings" }}
  {{ .Scratch.Set "icon" "wrench-nav" }}
  {{ .Scratch.Set "title" "Settings" }}
{{ else if or (eq $navIcon "feedback") }}
  {{ .Scratch.Set "icon" "nav-chat" }}
  {{ .Scratch.Set "title" "Feedback" }}
{{ end }}

{{ $icon := .Scratch.Get "icon" }}
{{ $title := .Scratch.Get "title" }}

<div class="nav-icon">
  <strong><span class ="icon icon-ui-{{ $icon }}"></span> {{ $title }}</strong>
</div>
