{{- $productPathData := findRE "[^/]+.*?" .Page.RelPermalink -}}
{{- $currentProduct := index $productPathData 1 -}}
{{- $length := .Get 0 | default "long" -}}
{{- $scratch := newScratch -}}
{{- if eq $currentProduct "cloud" -}}
  {{- $scratch.Set "productData" .Site.Data.products.influxdb_cloud -}}
{{- else if eq $currentProduct "cloud-serverless" -}}
  {{- $scratch.Set "productData" .Site.Data.products.influxdb_cloud_serverless -}}
{{- else if eq $currentProduct "cloud-dedicated" -}}
  {{- $scratch.Set "productData" .Site.Data.products.influxdb_cloud_dedicated -}}
{{- else if eq $currentProduct "clustered" -}}
  {{- $scratch.Set "productData" .Site.Data.products.influxdb_clustered -}}
{{- end -}}
{{- $productData := $scratch.Get "productData" -}}
{{- if eq $length "long" }}
  {{- $productData.name -}}
{{ else if eq $length "short" }}
  {{- $productData.altname -}}
{{ end -}}
