{{ $type := .Get "type" }}

{{ range (index .Site.Data.telegraf_plugins $type ) }}
  {{ $pluginTags := delimit .tags ", " }}
  <div class="plugin-card" id="{{ .id }}" data-tags="{{ $type }}, {{ $pluginTags }}">
    <div class="info">
      <h3 id="{{ .id }}">{{ .name }}</h3>
      <p class="meta">
        Plugin ID: <code>{{ .id }}</code><br/>
        Telegraf {{ if not .deprecated }}{{ .introduced }}+{{ else }}{{ .introduced }} - {{ .deprecated }} <span class="deprecated">Depricated</span>{{ end }}
      </p>
      <p>{{ .description | markdownify | safeHTML }}</p>
    </div>
    <a class="btn github-link" href="{{ .link }}" target="_blank"><span class="icon-github"></span> <span class="hide">View</span></a>
  </div>
{{ end }}
