.badge {
  font-size: .7rem;
  margin: 0 .2rem;
  padding: .1rem .4rem;
  border-radius: .6rem;
  font-weight: bold;
  vertical-align: top;
  
  &.dvc {
    color: #2e7d2e;
    background-color: #e8f5e8;
  }
  &.lvc {
    color: #1976d2;
    background-color: #e3f2fd;
  }
}