/////////////////////////////////// Buttons //////////////////////////////////

a.btn {
  position: relative;
  display: inline-block;
  margin: .5rem .25rem .5rem 0;
  padding: .5rem 1rem;
  color: $article-btn-text !important;
  border-radius: $radius;
  font-size: .95rem;
  z-index: 1;
  @include gradient($article-btn-gradient);

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: $radius;
    @include gradient($article-btn-gradient-hover);
    opacity: 0;
    transition: opacity .2s;
    z-index: -1;
  }

  &:hover {
    cursor: pointer;

    &:after {
      opacity: 1;
    }
  }

  &.download:before {
    content: "\e91d";
    font-family: "icomoon";
    margin-right: .5rem;
    font-size: 1.1rem;
  }
}
