.caption {
  margin: -2rem 0 2rem;
  padding-left: .25rem;
  font-size: .95rem;
  font-style: italic;
  opacity: .8;
  color: $article-text;

  p { line-height: 1.25rem; }
}

p {
  & + .caption {
    padding: 0;
    margin: -.75rem 0 0;
    opacity: 1;
  }
}

h2,h3,h4,h5,h6 {
  & + .caption {
    padding: 0;
    margin: 0;
    opacity: 1;
  }
}
