.caption {
  margin: -1.8rem 0 2rem;
  padding-left: .25rem;
  font-size: .95rem;
  font-style: italic;

  p {
    line-height: 1.25rem;
    color: rgba($article-text, .8);
  }
  code { font-size: .9rem; }
}

p, li, ol, ul {
  & + .caption {
    padding: 0;
    margin: -.75rem 0 0;
    opacity: 1;
  }
}

h2,h3,h4,h5,h6 {
  & + .caption {
    padding: 0;
    margin: 0;
    opacity: 1;
  }
}

#query-plan-diagram + .caption {
  margin-top: 0;
}
