/////////////////////////// Children Article Links ///////////////////////////

.children-links, .list-links {
  h2,h3,h4 {
    margin-top: -.5rem;

    a a:after {
      content: "\e91a";
      font-family: "icomoon-v2";
      color: rgba($article-heading, .35);
      vertical-align: bottom;
      transition: color .2s;
      margin-left: .4rem;
    }
    a:hover {
      &:after { color: $article-link; }
    }
  }
  & > hr:last-child {display: none}
}
