.cloud {
  border-color: $article-cloud-base;
  background: rgba($article-cloud-base, .12);
  h1,h2,h3,h4,h5,h6 {
    color: $article-cloud-heading;
  }
  p,li {
    color: $article-cloud-text;
  }
  strong {
    color: inherit;
  }
  a {
    color: $article-cloud-link;
    code:after {
      border-color: transparent rgba($article-cloud-code, .35) transparent transparent;
    }
    &:hover {
      color: $article-cloud-link-hover;
      code:after {
        border-color: transparent $article-cloud-link-hover transparent transparent;
      }
    }
  }
  ol li:before {
    color: $article-cloud-text;
  }
  code, pre{
    color: $article-cloud-code;
    background: $article-cloud-code-bg;
  }
  img {
    box-shadow: 1px 3px 10px $article-cloud-shadow;
  }
  table{
    color: $article-cloud-text;
    box-shadow: 1px 3px 10px $article-cloud-shadow;
    thead{
      @include gradient($article-cloud-table-header);
    }
    tr:nth-child(even) td {
      background: $article-cloud-table-row-alt;
    }
  }
  blockquote {
    border-color: rgba($article-cloud-text, .25);
    p { color: rgba($article-cloud-text, .6); }
  }
  .code-tabs-wrapper .code-tabs a {
    background: transparent;
    color: rgba($article-cloud-text, .5);
    &:hover { color: rgba($article-cloud-text, 1); }
    &.is-active {
      color: rgba($article-cloud-text, 1);
      background: $article-cloud-code-bg};
  }

  &.flex {
    font-style: italic;
    display: flex;
    div:first-child {
      position: relative;
      margin: .25rem 2rem 0 0;
    }
  }
}
