.mermaid {
  opacity: 0;
  color: $article-bg;
  margin: 3rem 0;
  transition: opacity .5s;


  .arrowheadPath, .arrowMarkerPath { fill: $diagram-arrow !important; }
  .edgePath .path, .flowchart-link { stroke: $diagram-arrow !important; }
  .label { color: $article-text !important; }
  .cluster-label .nodeLabel {
    color: $article-code !important;
  }
  .edgeLabel {
    color: $article-text !important;
    background: $article-code-bg !important;
    font-size: .85em;
    font-weight: $medium;
  }

  .node {
    rect,
    circle,
    ellipse,
    polygon,
    path {
      fill: $article-bg !important;
      stroke: $diagram-arrow !important;
      stroke-width: 2px !important;
    }
    .label { color: $article-text !important; }
  }

  .cluster {
    rect,
    circle,
    ellipse,
    polygon,
    path {
      fill: $article-code-bg !important;
      stroke: none !important;
    }
  }
}

// Move this to _html-diagrams whenever 2.0.5 merges

.fs-diagram {
  display: inline-block;
  margin: 1rem 0 2rem;
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
  font-family: $roboto-mono;
  border-radius: $radius;
  box-shadow: 1px 3px 10px $article-shadow;
  & > ul { padding: 0; margin: 0;
    li { line-height: 2rem; color: $article-code; }
    ul { padding-left: 2rem;
      li {
        position: relative;
        margin: 0;
        line-height: 2rem;
        border-left: 1px solid $article-code;
        &:before {
          content: "";
          display: inline-block;
          width: 1rem;
          height: .25rem;
          margin-right: .55rem;
          border-top: 1px solid $article-code;
        }
        &:last-child {
          border: none;
          &:after {
            content: "";
            position: absolute;
            margin: 0;
            padding: 0;
            left: 0;
            top: 0;
            height: 1.1rem;
            border-left: 1px solid $article-code;
          }
        }
      }
    }
  }
  ul { list-style: none; }
}
