.enterprise {
  border-color: $article-enterprise-base;
  background: rgba($article-enterprise-base, .15);
  p,li {
    color: $article-enterprise-text;
  }
  a {
    color: $article-enterprise-link;
    &:hover { color: $article-enterprise-link-hover; }
  }
  &.flex {
    font-style: italic;
    display: flex;
    div:first-child {
      position: relative;
      margin: .25rem 2rem 0 0;
    }
  }
}
