$osxFont: -apple-system, BlinkMacSystemFont, $proxima, 'Helvetica Neue', Arial, sans-serif;

.keybinding {
  font-family: $proxima;
  code { font-family: $proxima; }
  &.osx code {font-family: $osxFont;}
  code.osx {font-family: $osxFont;}
}