//////////////////////////////////// Lists ////////////////////////////////////

ol, ul {
  padding-left: 1.6rem;
}

ul {
  list-style-type: disc;
  li:before{
    content: "" !important;
    display: none;
  }
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;

  &:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
    letter-spacing: .05rem;
    color: $article-bold;
    font-weight: bold;
  }
}

li ol > li {
  margin: .5rem 0;

  &:before {
    content: counters(item, ".") ".";
  }
}

& > ol,
& > ul {
  margin: 1rem 0 1.5rem 0;
}

li {
  margin: .25rem 0;
  &:not(:last-child) {
    > p:only-child { margin-bottom: 0; }
  }
  p + ul,
  p + ol {
    margin: -.9rem 0 .5rem;
  }

  .list-note { font-size: .85rem }
}
