//////////////////////////////////// Lists ////////////////////////////////////

ol, ul {
  padding-left: 1.6rem;
}

ul {
  list-style-type: disc;
  li:before{
    content: "" !important;
    display: none;
  }
}

ol {
  list-style: none;
  counter-reset: item;

  li {
    position: relative;
    counter-increment: item;

    &:before {
      content: counter(item) ". ";
      position: absolute;
      left: -1.6em;
      color: $article-bold;
      font-weight: bold;
    }

    & > ol li:before { content: counter(item, lower-latin) ". "; }
    & > ol li ol li:before { content: counter(item) ". "; }
    & > ol li ol li ol li:before { content: counter(item, lower-latin) ". "; }
    & > ol li ol li ol li ol li:before { content: counter(item) ". "; }

    ul {
      counter-reset: item;
    }
  }
}

& > ol,
& > ul {
  margin: 1rem 0 1.5rem 0;
}

li {
  margin: .25rem 0;
  &:not(:last-child) {
    > p:only-child { margin-bottom: 0; }
  }
  p + ul,
  p + ol {
    margin: -.9rem 0 .5rem;
  }

  .list-note { font-size: .85rem }

  h4,h5,h6 {
    margin-top: 1em;
    padding-top: 0;
  }
}
