//////////////////////////////// Plugin Filters ////////////////////////////////

#list-filters {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  .filter-category {
    flex: 1 1 200px;
    margin: 0 1.25rem 1.25rem 0;
    max-width: 33%;

    &.two-columns {
      flex: 1 2 400px;
      max-width: 66%;
      .filter-list {
        columns: 2;
      }
    }
  }

  h5 {
    border-bottom: 1px solid rgba($article-text, .25);
    padding-bottom: .65rem;
  }

  .filter-list {
    padding: 0;
    margin: .5rem 0 0;
    list-style: none;
    li {
      margin: 0;
      line-height: 1.35rem;
    }
  }

  label {
    display: block;
    padding: .25rem 0;
    color: $article-text;
    position: relative;

    &:after {
      content: attr(data-count);
      margin-left: 0;
      font-size: .85rem;
      opacity: .5;
    }
  }

  .checkbox {
    display: inline-block;
    position: relative;
    height: 1.15em;
    width: 1.15em;
    background: rgba($article-text, .05);
    margin-right: .3rem;
    vertical-align: text-top;
    border-radius: $radius;
    cursor: pointer;
    border: 1.5px solid rgba($article-text, .2);
    user-select: none;
  }

  input[type='checkbox'] {
    margin-right: -1.1rem ;
    padding: 0;
    vertical-align: top;
    opacity: 0;
    cursor: pointer;

    & + .checkbox:after {
      content: "";
      display: block;
      position: absolute;
      height: .5rem;
      width: .5rem;
      border-radius: 50%;
      background: $article-link;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: scale(2) translate(-20%, -20%);
      transition: all .2s;
    }

    &:checked + .checkbox:after {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// MEDIA QUERIES ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@media(max-width: 1100px) {
  #list-filters {
    .filter-category {
      max-width: 50%;
      &.two-columns, &.three-columns {
        max-width: 100%;
      }
    }
  }
}

@include media(small) {
  #list-filters{
    .filter-category {
      max-width: 100%;
    }
  }
}
