em, span, strong {
  &.op90 {opacity: .9;}
  &.op85 {opacity: .85;}
  &.op80 {opacity: .8;}
  &.op75 {opacity: .75;}
  &.op70 {opacity: .7;}
  &.op65 {opacity: .65;}
  &.op60 {opacity: .6;}
  &.op55 {opacity: .55;}
  &.op50 {opacity: .5;}
  &.op45 {opacity: .45;}
  &.op40 {opacity: .4;}
  &.op35 {opacity: .35;}
  &.op30 {opacity: .3;}
  &.op25 {opacity: .25;}
  &.op20 {opacity: .2;}
  &.op15 {opacity: .15;}
  &.op10 {opacity: .1;}
}