//////////////////////////////////// Tables ////////////////////////////////////

table {
  display: inline-block;
  margin: 1rem 0 3rem;
  border-spacing: 0;
  color: $article-text;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 1px 3px 10px $article-shadow;
  border-radius: ($radius);

  th, td {
    padding: .85rem 1.25rem;
  }
  thead {
    @include gradient($article-table-header, 90deg);
    background-attachment: fixed;
  }

  th  {
    color: $g20-white;
    strong { color: $g20-white; }
    &:first-child {
      border-radius: ($radius) 0 0 0;
    }
    &:last-child {
      border-radius: 0 ($radius) 0 0;
    }
  }

  td {
    font-size: .95rem;
    line-height: 1.5em;
  }

  tr{
    &:nth-child(even) {
      background: $article-table-row-alt;
    }
    &:last-child {
      td {
        &:first-child { border-radius: 0 0 0 ($radius); }
        &:last-child { border-radius: 0 0 ($radius) 0; }
      }

    }
  }
}

#flags:not(.no-shorthand), #global-flags {
  & + table {
    td:nth-child(2) code { margin-left: -2rem; }
  }
}
